<div class="inventory-sucursal-list">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-brands fa-dropbox"></i>
            <span class="title">Inventario sucursales</span>
        </div>
        <div>
            <span class="breadcrumb-item">Sucursales</span>
        </div>
    </div>
    <div class="container">

        <div class="toolbar">
            <div class="select-wrapper">
                <mat-label class="text-1">Sucursal</mat-label><br/>
                <mat-form-field>
                    <mat-select [(value)]="selectedSucursal" (selectionChange)="onSucursalChange($event)">
                        <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal">{{ sucursal.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button mat-flat-button class="btn" (click)="onNew()"><mat-icon>add</mat-icon>
                Agregar artículo
            </button>
        </div>

        <div *ngIf="!hasRecords && selectedSucursal != null" class="container-empty">
            <img src="../../assets/images/empty-list.png" alt="empty logo" class="img">
            <span class="text">Aún no tienes artículos en tu inventario, para poder ver información favor de dar entrada
                un artículo.</span>
        </div>
        
        <div *ngIf="hasRecords && selectedSucursal != null" class="container-list">

            <table class="table" mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="part_number">
                    <th mat-header-cell *matHeaderCellDef>#Parte</th>
                    <td mat-cell *matCellDef="let element"><span (click)="onView(element.articulo.id)"
                            class="title-grid">{{element.articulo.part_number}}</span></td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Descripción</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="description-wrapper">
                            <div *ngIf="!element.articulo.photo" class="empty-image-container">
                                <img src="../../assets/images/empty-image.png" class="empty-image">
                            </div>
                            <img *ngIf="element.articulo.photo" class="photo" [src]="getPathPhoto(element.articulo.photo)">
                            <span>{{element.articulo.description}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Categoría</th>
                    <td mat-cell *matCellDef="let element"><span>{{element.articulo.category}}</span></td>
                </ng-container>

                <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Stock</th>
                    <td mat-cell *matCellDef="let element" class="center-column">
                        <span *ngIf="element.minimum_stock > element.inventory_transaction[0].stock" matTooltip="Se requiere pedir" class="stock-warning-icon"></span>
                        <span *ngIf="element.inventory_transaction[0].id != null">{{element.inventory_transaction[0].stock}}</span>
                        <span *ngIf="element.inventory_transaction[0].id == null">0</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="minimum_stock">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Mínimos</th>
                    <td mat-cell *matCellDef="let element" class="center-column"><span>{{element.minimum_stock}}</span></td>
                </ng-container>

                <ng-container matColumnDef="maximum_stock">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Máximos</th>
                    <td mat-cell *matCellDef="let element" class="center-column"><span>{{element.maximum_stock}}</span></td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef>Usuario</th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.inventory_transaction[0].id == null">Sin transacciones</span>
                        <div *ngIf="element.inventory_transaction[0].id != null" class="user-wrapper">
                            <div class="circle-initials" mat-mini-fab color="primary" *ngIf="element.inventory_transaction[0].user.photo == null">
                                {{getUserName(element.inventory_transaction[0].user.name, element.inventory_transaction[0].user.last_name)}}
                            </div>
                            <div *ngIf="element.inventory_transaction[0].user.photo != null" class="container-photo-user">
                                <img class="photo" [src]="getUrlPhoto(element.inventory_transaction[0].user.photo)">
                            </div>
                            <span class="text">{{element.inventory_transaction[0].user.name}} {{element.inventory_transaction[0].user.last_name}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Historial</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="ver historial" (click)="onViewHistory(element.id)" matTooltip="Historial">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>