<div class="catalogo-articulos">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-regular fa-building"></i>
            <span class="title">Catálogo categoría de artículos</span>
        </div>
        <div class="toolbar-breadcrumb">
            <span class="link-breadcrumb" (click)="navigate('catalogos')"> Catálogos </span> /
            <span class="link-breadcrumb" (click)="navigate('catalogos/categoria-articulos')"> Catálogo categoría de artículos </span> /
            <span class="breadcrumb-item">{{title}}</span>

            <button *ngIf="isReadOnly" mat-button class="btn" (click)="makeEditMode()"><mat-icon>edit</mat-icon>Editar información</button>
        </div>
    </div>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-container">
                <div class="form-container-toolbar">
                    <span class="title">Datos generales</span>
                    <span *ngIf="action != 'new'" class="id"><b>ID</b> {{id}}</span>
                </div>

                <div class="form-row one-col">
                    <div class="form-field name">
                        <mat-label class="text-1"  *ngIf="isReadOnly">articulo</mat-label>
                        <mat-label class="text-1"  *ngIf="!isReadOnly">articulo*</mat-label>
                        <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['name'].value}}</mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input matInput placeholder="Escribir nombre de la articulo" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" required>
                        </mat-form-field>
                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                            <div *ngIf="f['name'].errors['required']">Este campo requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-row one-col">
                    <div class="form-field description">
                        <mat-label class="text-1">Descripción</mat-label>
                        <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['description'].value}}</mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input matInput placeholder="Escribir la descripción de la articulo"
                                formControlName="description">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div style="height: 24px;"></div>

            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Configuración
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="form-row four-col">
                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="show_admin_users" color="primary">Mostrar al gestionar usuarios</mat-slide-toggle>
                        </div>

                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="status" color="primary">Activo</mat-slide-toggle>
                        </div>

                        <div class="form-field empty"></div>

                        <div class="form-field empty"></div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="toolbar-bottom">
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('catalogos/articulos')"
                    *ngIf="isReadOnly">Regresar</button>
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('catalogos/articulos')"
                    *ngIf="!isReadOnly">Cancelar</button>
                <button mat-flat-button class="btn" type="submit" *ngIf="!isReadOnly">{{title}}</button>
            </div>
        </form>
    </div>
</div>