<div class="catalogo-articulos">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-solid fa-layer-group"></i>
            <span class="title">Catálogo categoría de artículos</span>
        </div>
        <div class="toolbar-breadcrumb">
            <span class="link-breadcrumb" (click)="navigate('almacenes/catalogos')">Almacenes / Catálogos</span>
            <span> / </span>
            <span class="link-breadcrumb" (click)="navigate('almacenes/catalogos/categoria-articulos')">Catálogo categoría de artículos</span>
            <span> / </span>
            <span class="breadcrumb-item">{{title}}</span>

            <button *ngIf="isReadOnly" mat-button class="btn" (click)="makeEditMode()"><mat-icon>edit</mat-icon>Editar información</button>
        </div>
    </div>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-container">
                <div class="form-container-toolbar">
                    <span class="title">Datos generales</span>
                    <span *ngIf="action != 'new'" class="id"><b>ID</b> {{id}}</span>
                </div>

                <div class="form-row four-col" style="grid-template-columns: 1fr 1fr 250px 250px;">
                    <div class="form-field name">
                        <mat-label class="text-1"  *ngIf="isReadOnly">Categoría de artículo</mat-label>
                        <mat-label class="text-1"  *ngIf="!isReadOnly">Categoría de artículo*</mat-label>
                        <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['name'].value}}</mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input matInput placeholder="Nombre del articulo" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" required>
                        </mat-form-field>
                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                            <div *ngIf="f['name'].errors['required']">Este campo requerido</div>
                        </div>
                    </div>
                    <div class="form-field description">
                        <mat-label class="text-1">Descripción</mat-label>
                        <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['description'].value}}</mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input matInput placeholder="Descripción de la articulo"
                                formControlName="description">
                        </mat-form-field>
                    </div>
                    <div class="form-field costo_importado_porcentaje">
                        <mat-label class="text-1">Porcentaje costo de importación</mat-label>
                        <mat-label class="text-1-regular" *ngIf="isReadOnly"> {{ this.f['costo_importado_porcentaje'].value }}%
                        </mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input matInput type="number" placeholder="Porcentaje importación" formControlName="costo_importado_porcentaje" min="0" max="100" step="0.01">
                            <span matSuffix>%</span>
                        </mat-form-field>
                    </div>
                    <div class="form-field precio_venta_porcentaje">
                        <mat-label class="text-1">Porcentaje costo de venta</mat-label>
                        <mat-label class="text-1-regular" *ngIf="isReadOnly"> {{ this.f['precio_venta_porcentaje'].value }}%
                        </mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input matInput type="number" placeholder="Porcentaje por venta" formControlName="precio_venta_porcentaje" min="0" max="100" step="0.01">
                            <span matSuffix>%</span>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div style="height: 24px;"></div>

            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Configuración
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="form-row four-col">
                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="show_admin_users" color="primary">Mostrar al gestionar usuarios</mat-slide-toggle>
                        </div>

                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="status" color="primary">Activo</mat-slide-toggle>
                        </div>

                        <div class="form-field empty"></div>

                        <div class="form-field empty"></div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="toolbar-bottom">
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('almacenes/catalogos/categoria-articulos')" *ngIf="isReadOnly">Regresar</button>
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('almacenes/catalogos/categoria-articulos')" *ngIf="!isReadOnly">Cancelar</button>
                <button mat-flat-button class="btn" type="submit" *ngIf="!isReadOnly">{{title}}</button>
            </div>
        </form>
    </div>
</div>