mat-sidenav-content{
    background-color: #F7F7F7;
}
.historial-almacen {
    padding: 16px 34px;
    background-color: #F7F7F7;
}

.historial-almacen .toolbar .icon {
    font-size: 23px;
}

.historial-almacen .toolbar .toolbar-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.historial-almacen .toolbar .form-container-toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.historial-almacen .form-container .form-container-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.historial-almacen .form-container .form-container-toolbar .id {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    background-color: #F6FAFF;
    border-radius: 20px;
    padding: 8px;
}

.historial-almacen .toolbar .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.01em;
    margin-left: 12px;
}

.historial-almacen .toolbar .breadcrumb-item {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #BA9400;
}

.historial-almacen .toolbar .toolbar-breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.historial-almacen .toolbar .link-breadcrumb {
    cursor: pointer;
}

.historial-almacen .toolbar .btn {
    margin-left: auto;
    background-color: transparent !important;
    color: #BA9400 !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
}

.historial-almacen .toolbar .link-breadcrumb:hover {
    text-decoration: underline;
}

/* container */
.historial-almacen .container .form-container {
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 24px;
    padding: 24px;
    flex-direction: column;
    margin-bottom: 24px;
}

.historial-almacen .container .form-container .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
}

.historial-almacen .container .form-row {
    justify-content: space-between;
    display: grid;
    gap: 20px;
}

.historial-almacen .container .form-row.one-col {
    grid-template-columns: repeat(1, 1fr);
}

.historial-almacen .container .form-row.two-col {
    grid-template-columns: repeat(2, 1fr);
}

.historial-almacen .container .form-row.three-col {
    grid-template-columns: repeat(3, 1fr);
}

.historial-almacen .container .form-row.three-col.add-stock {
    grid-template-columns: 1fr 2fr 1fr;
}

.historial-almacen .container .form-row.three-col .mat-mdc-form-field-infix{
    width: auto;
}

.historial-almacen .mat-mdc-card-subtitle{
    font-size: 20px;
}

.historial-almacen .container .form-row.four-col {
    grid-template-columns: repeat(4, 1fr);
}

.form-field {
    display: flex;
    flex-direction: column;
}

.accordion-address {
    margin-bottom: 24px;
}


.toolbar-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
}

.toolbar-bottom .btn.secundary {
    margin-right: 24px;
}

mat-panel-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
}

mat-panel-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.mat-expansion-panel-header-description{
    font-size: 20px;
    flex-grow: unset !important;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label{
    color : #BA9400;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline{
    border-color: #BA9400;
}

.rights mat-panel-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
}

.historial-almacen .rights .mat-grid-tile-content{
    justify-content: flex-start;
}

.historial-almacen .rights .gray{
    background-color: #FAFAFA;
}

.historial-almacen .main-container {
    padding: 20px;
}

.historial-almacen .column {
    flex: 6;
    padding: 0px 24px;
}

 /* photo */
.historial-almacen .container-photo{
    width: 70px;
    height: 70px;
    position: relative;
}

.historial-almacen .container-photo .photo{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.historial-almacen .empty-image-container{
    width: 70px;
    height: 70px;
    background-color: #C5C6C7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.historial-almacen .empty-image-container .empty-image{
    width: 51px;
    height: 51px;
}
.historial-almacen .container-photo .photo-button{
    position: absolute;
    top: 120px;
    right: -20px;
    background-color: #BA9400;
}

.historial-almacen .stock_indicator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: #C5C6C7;
    padding: 12px;
}

.historial-almacen .stock_indicator .title-stock{
    font-size: 16px;
    font-weight: 500;
}

.historial-almacen .stock_indicator .stock{
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
}


.historial-almacen {
    margin: 0px 100px;
}

.historial-almacen .mat-badge-content{
    background-color: green;
}

.historial-almacen .stock_indicator-neg .mat-badge-content{
    background-color: red !important;
}

.historial-almacen .stock_indicator-hide .mat-badge-content{
    display: none;
}

.historial-almacen .numero-parte-container{
    background-color: #fff6d1;
    border-radius: 10px;
    padding: 12px 18px;
}
.historial-almacen .numero-parte-container .text-1{
    font-weight: 500;
    font-size: 18px;
}
.historial-almacen .numero-parte-container .text-1-regular{
    background-color: #fff;
    padding: 6px 12px;
    margin-top: 8px;
    display: flex;
}

.historial-almacen .stock-indicator{
    position: absolute;
    right: 12px;
    top: 12px;
    border-radius: 10px;
    background-color: #D9DCE0;
    padding: 4px;
}

.historial-almacen .stock-indicator .stock-warning-icon{
    border-radius: 9px;
    display: inline-block;
    vertical-align: middle;
    height: 9px;
    margin-right: 8px;
    width: 9px;
    background-color: red;
}

.historial-almacen .container .container-list .user-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.historial-almacen .container .container-list .user-wrapper .circle-initials {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #BA9400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    min-width: 28px;
}

.historial-almacen .container .container-list .user-wrapper .text {
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 8px;
}

.mat-mdc-header-row{
    background-color: #eadfb2 !important;
}

.historial-almacen .table .center-column{
    text-align: center;
}

.historial-almacen .container .title-grid {
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
}

.historial-almacen .container .title-grid:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #BA9400;
}

.historial-almacen .container .table .qty-column{
    color: green;
}

.historial-almacen .container .table .qty-column.qty-neg{
    color: red;
}

.historial-almacen .container .container-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px 1fr; 
    gap: 10px;
}

.historial-almacen .container .stock_indicator.incoming{
    background-color: transparent;
    border: 2px solid #BA9400;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.historial-almacen .container .stock_indicator.incoming .stock{
    color: #BA9400;
}

@media only screen and (max-width: 1500px) {
    .historial-almacen {
        margin: 0px 50px;
    }
}

@media only screen and (max-width: 1250px) {
    .historial-almacen {
        margin: 0px 0px;
    }
}

@media only screen and (max-width: 1084px) {
    .historial-almacen .container .form-row.four-col {
        grid-template-columns: repeat(3, 1fr);
    }
    .historial-almacen .mdc-data-table__header-cell,
    .historial-almacen .mdc-data-table__cell  {
        padding: 0 10px 0 10px;
    }
}

@media only screen and (max-width: 835px) {
    .historial-almacen .container .form-row.four-col {
        grid-template-columns: repeat(2, 1fr);
    }
    .form-field.phone {
        grid-column: span 2;
    }
    .historial-almacen .mdc-data-table__header-cell,
    .historial-almacen .mdc-data-table__cell {
        padding: 0 6px 0 6px;
    }

    .historial-almacen .container .container-data {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .historial-almacen .main-container {
        padding: 0px;
    }
    .historial-almacen .container .form-container {
        margin-top: 8px;
        padding: 12px;
        margin-bottom: 0px;
    }
    .historial-almacen .container .container-data {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .historial-almacen .numero-parte-container {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 587px) {
    .historial-almacen {
        padding: 0px 8px;
    }

    .historial-almacen .toolbar .title {
        font-size: 22px;
    }

    .historial-almacen .mat-mdc-card-title {
        line-height: 20px;
        font-size: 16px;
    }

    .historial-almacen .container .form-container .title {
        font-size: 20px;
    }

    .historial-almacen .container .form-row.two-col,
    .historial-almacen .container .form-row.four-col {
        grid-template-columns: repeat(1, 1fr);
    }

    .historial-almacen .mdc-data-table__header-cell,
    .historial-almacen .mdc-data-table__cell  {
        padding: 0 4px 0 4px;
    }

    .historial-almacen .container .form-container{
        padding: 6px;
    }

    .historial-almacen .container .container-data{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
        text-align: center;
    }

    .historial-almacen .numero-parte-container {
        grid-column: span 2;
    }
    .historial-almacen .stock_indicator {
        margin: auto;
    }
}