<div class="venta-articulo">

    <div class="separator"></div>

    <div class="container">
        <form [formGroup]="form"  (ngSubmit)="onSubmit()">
            <div class="form-field">
                <mat-form-field style="display: block;">
                    <mat-label>Ingresa la nueva contraseña</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>    
            </div>
            <div class="toolbar-bottom" style="justify-content: space-between; margin-top: 12px;">
                <button mat-flat-button class="btn secundary" type="button" (click)="onCancel()">Cancelar</button>
                <button mat-flat-button class="btn" type="submit">{{action}}</button>
            </div>
        </form>
    </div>
</div>