<div class="venta-pago">

    <div class="separator"></div>

    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onAdd()">

            <div style="display: grid; grid-template-columns: 250px 1fr; column-gap: 24px;">
                <div class="saldo">
                    <mat-label class="text-1">Importe total</mat-label>
                    <mat-label class="text-1-regular">{{ formatearComoMoneda(importeTotal) }}</mat-label>
                </div>
                <div></div>
            </div>

            <div style="height: 24px;"></div>

            <div class="form-row" style="display: grid; grid-template-columns: .6fr .8fr 1fr; column-gap: 24px;">
                <div class="form-field" style="display: grid;">
                    <mat-label class="text-1">Importe a depositar*</mat-label>
                    <mat-form-field floatLabel="always">
                        <input matInput type="text" formControlName="deposito" min="0" step="0.01"
                            (keypress)="validarDecimal($event)" (blur)="validarFinal('deposito')" placeholder="0.00" required>
                        <span matTextPrefix>$&nbsp;</span>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <mat-label class="text-1">Cuenta bancaria*</mat-label>
                    <mat-form-field>
                        <mat-select [(value)]="selectedCuentaBancaria" formControlName="cuenta_bancaria">
                            <mat-option *ngFor="let cuenta of cuentasBancarias" [value]="cuenta">{{cuenta.banco}}-{{cuenta.numero_cuenta}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 24px;">
                    <div class="form-field" style="display: grid;">
                        <mat-label class="text-1">Moneda</mat-label>
                        <mat-form-field>
                            <mat-select formControlName="moneda">
                                <mat-option *ngFor="let moneda of monedas" [value]="moneda">
                                    {{ moneda.moneda === 'MXN' ? 'Pesos' : 'Dólares' }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-field" style="display: grid;">
                        <mat-label class="text-1">Tipo de cambio</mat-label>
                        <mat-form-field floatLabel="always">
                            <input matInput type="number" class="example-right-align" placeholder="0"
                                formControlName="tipo_cambio" min="0" step="0.01" (keypress)="validarDecimal($event)">
                            <span matTextPrefix>$&nbsp;</span>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="form-row" style="display: grid; grid-template-columns: .6fr .8fr 1fr; column-gap: 24px;">
                <div class="form-field" style="display: grid;">
                    <mat-label class="text-1">Referencia</mat-label>
                    <mat-form-field>
                        <input matInput placeholder="Escribir la referencia" formControlName="referencia"
                            [ngClass]="{ 'is-invalid': submitted && f['referencia'].errors }" required>
                    </mat-form-field>
                </div>
                <div class="form-field"  style="display: grid;">
                    <mat-label class="text-1">Forma de pago físcal*</mat-label>
                    <mat-form-field>
                        <mat-select [(value)]="selectedFormaPago" formControlName="forma_pago">
                            <mat-option *ngFor="let forma_pago of formaPagoList" [value]="forma_pago">{{forma_pago.key}}-{{ forma_pago.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-field" style="display: grid;">
                    <mat-label class="text-1">Método de pago*</mat-label>
                    <mat-form-field>
                        <mat-select [(value)]="selectedMetodoPago" formControlName="metodo_pago">
                            <mat-option *ngFor="let metodo_pago of metodoPagoList" [value]="metodo_pago">{{
                                metodo_pago.key }} - {{ metodo_pago.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div style="height: 24px;"></div>

            <div class="form-container form-row" style="grid-template-columns: 1fr 380px;">
                <div></div>
                <div class="form-row two-col" style="width: 400px; grid-column-gap: 8px; grid-row-gap: 10px; margin-left: auto;">
                    <span class="resumen-label">Saldo</span>
                    <div class="resumen-value">{{ this.moneda }} {{ formatearComoMoneda(saldo) }}</div>

                    <span class="resumen-label">Deposito</span>
                    <div class="resumen-value">{{ this.f['moneda'].value.moneda }} {{ formatearComoMoneda(f['deposito'].value) }}</div>

                    <span class="resumen-label"><b>Restante</b></span>
                    <div class="resumen-value"><b>{{ this.moneda }} {{ formatearComoMoneda(calcularRestante()) }}</b></div>
                </div>
            </div>

            <!-- hacer catalog para referenciarlos cuentas bancarias aca -->

            <!-- Validation Errors Section -->
            <div style="position: absolute; bottom: 135px;" *ngIf="submitted && f['deposito'].errors"
                class="invalid-feedback">
                <div *ngIf="f['deposito'].errors['required']">El importe a depositar es requerido</div>
                <div *ngIf="f['deposito'].errors['pattern']">El importe debe ser un número válido</div>
                <div *ngIf="f['deposito'].errors['maxDeposito']">El importe no puede ser mayor al saldo disponible</div>
            </div>
            <div style="position: absolute; bottom: 115px;" *ngIf="submitted && f['cuenta_bancaria'].errors"
                class="invalid-feedback">
                <div *ngIf="f['cuenta_bancaria'].errors['required']">La cuenta bancaria es requerida</div>
            </div>
            <div style="position: absolute; bottom: 95px;" *ngIf="submitted && f['referencia'].errors"
                class="invalid-feedback">
                <div *ngIf="f['referencia'].errors['required']">La referencia es requerida</div>
            </div>
            <div style="position: absolute; bottom: 75px;" *ngIf="submitted && f['condicion_pago'].errors"
                class="invalid-feedback">
                <div *ngIf="f['condicion_pago'].errors['required']">La condición de pago es requerida</div>
            </div>
            <div style="position: absolute; bottom: 55px;" *ngIf="submitted && f['forma_pago'].errors"
                class="invalid-feedback">
                <div *ngIf="f['forma_pago'].errors['required']">La forma de pago es requerida</div>
            </div>
            <div style="position: absolute; bottom: 35px;" *ngIf="submitted && f['metodo_pago'].errors"
                class="invalid-feedback">
                <div *ngIf="f['metodo_pago'].errors['required']">El método de pago es requerido</div>
            </div>
            <div style="position: absolute; bottom: 15px;" *ngIf="submitted && f['moneda'].errors"
                class="invalid-feedback">
                <div *ngIf="f['moneda'].errors['required']">La moneda es requerida</div>
            </div>

            <div style="height: 40px;"></div>

            <div style="display: grid; grid-template-columns: 180px 1fr 180px;">
                <button mat-flat-button class="btn secundary" type="button" (click)="onCancel()">Cancelar</button>
                <div></div>
                <button mat-flat-button class="btn" type="submit">{{action}}</button>
            </div>
        </form>
    </div>
</div>