<div class="catalogo-usuarios">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-solid fa-users"></i>
            <span class="title">Catálogo usuarios</span>
        </div>
        <div class="toolbar-breadcrumb">
            <span class="link-breadcrumb" (click)="navigate('catalogos')"> Catálogos </span> /
            <span class="link-breadcrumb" (click)="navigate('catalogos/usuarios')"> Catálogo usuarios </span> /
            <span class="breadcrumb-item">{{title}}</span>
            <div style="margin: auto;"></div>
            <button *ngIf="isReadOnly && !isCurrentUser()" mat-button class="btn" (click)="openEditarPasswordModalComponent()">
                <mat-icon>edit</mat-icon> Actualizar contraseña
            </button>
            <button *ngIf="isReadOnly" mat-button class="btn" (click)="makeEditMode()">
                <mat-icon>edit</mat-icon>Editar información
            </button>
        </div>
    </div>

    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-container">
                <div class="form-container-toolbar">
                    <span class="title">Datos generales</span>
                    <span *ngIf="action != 'new'" class="id"><b>ID</b> {{id}}</span>
                </div>
                <p>
                <div class="main-container">
                    <div class="form-row" style="display: grid; grid-template-columns: 180px 1fr;">
                        <div class="container-photo">
                            <div *ngIf="!imageUrl" class="empty-image-container">
                                <img src="../../assets/images/empty-image.png" class="empty-image">
                            </div>
                            <img class="photo" *ngIf="imageUrl" [src]="imageUrl">
                            <button *ngIf="!isReadOnly" class="photo-button" mat-mini-fab (click)="fileInput.click()" type="button">
                                <mat-icon>photo_camera</mat-icon>
                            </button>
                            <input #fileInput style="display: none" formControlName="photo" type="file" (change)="onFileSelected($event)">
                        </div>
                        <div>
                            <div class="form-row" style="display: grid; grid-template-columns: 1fr 1fr 300px;">
                                <div class="form-field">
                                    <mat-label class="text-1"  *ngIf="isReadOnly">Nombre</mat-label>
                                    <mat-label class="text-1"  *ngIf="!isReadOnly">Nombre*</mat-label>
                                    <mat-label class="text-1-regular"
                                        *ngIf="isReadOnly">{{this.f['name'].value}}</mat-label>
                                    <mat-form-field *ngIf="!isReadOnly">
                                        <input matInput placeholder="Escribir nombre"
                                            formControlName="name"
                                            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" required>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                        <div *ngIf="f['name'].errors['required']">Este campo requerido</div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <mat-label class="text-1"  *ngIf="isReadOnly">Apellidos</mat-label>
                                    <mat-label class="text-1"  *ngIf="!isReadOnly">Apellidos*</mat-label>
                                    <mat-label class="text-1-regular"
                                        *ngIf="isReadOnly">{{this.f['lastname'].value}}</mat-label>
                                    <mat-form-field *ngIf="!isReadOnly">
                                        <input matInput placeholder="Escribir apellidos"
                                            formControlName="lastname"
                                            [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }" required>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
                                        <div *ngIf="f['lastname'].errors['required']">Este campo requerido</div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <mat-label class="text-1">Celular</mat-label>
                                    <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['movil'].value}}</mat-label>
                                    <mat-form-field *ngIf="!isReadOnly">
                                        <input matInput placeholder="(00)000-00000" formControlName="movil">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-row" style="display: grid; grid-template-columns: 1fr 1fr 300px;">
                                <div class="form-field">
                                    <mat-label class="text-1" *ngIf="isReadOnly">Rol</mat-label>
                                    <mat-label class="text-1-regular" *ngIf="isReadOnly && this.f['rol'].value">{{this.f['rol'].value.name}}</mat-label>
                                    <mat-label class="text-1" *ngIf="!isReadOnly">Rol</mat-label>
                                    <mat-form-field *ngIf="!isReadOnly">
                                        <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['rol'].value}} </mat-label>
                                        <mat-select [(value)]="selectedRol" formControlName="rol">
                                            <mat-option *ngFor="let rol of roles" [value]="rol">{{ rol.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-field">
                                    <mat-label class="text-1"  *ngIf="isReadOnly">Correo electrónico</mat-label>
                                    <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['email'].value}}</mat-label>
            
                                    <mat-label class="text-1"  *ngIf="!isReadOnly">Correo electrónico*</mat-label>
                                    <mat-form-field *ngIf="!isReadOnly">
                                        <input matInput placeholder="Escribe el correo electrónico" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['correo'].errors }" required>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                        <div *ngIf="f['email'].errors['required']">Este campo requerido</div>
                                        <div *ngIf="f['email'].errors['pattern']">El correo debe tener una estructura válida ejemplo@correo.com</div>
                                    </div>
                                </div>
                                <div class="form-field" style="align-items: center; margin-top: 60px;">
                                    <mat-slide-toggle formControlName="isAdmin" color="primary">Es administrador</mat-slide-toggle>
                                </div>
                            </div>
                            <div *ngIf="action == 'new'" class="form-row" style="display: grid; grid-template-columns: 1fr 1fr 300px;">
                                <div class="form-field">
                                    <mat-label class="text-1"  *ngIf="isReadOnly">Contraseña</mat-label>
                                    <mat-label class="text-1"  *ngIf="!isReadOnly">Contraseña*</mat-label>
                                    <mat-label class="text-1-regular"
                                        *ngIf="isReadOnly">{{this.f['password'].value}}</mat-label>
                                    <mat-form-field *ngIf="!isReadOnly">
                                        <input matInput placeholder="Ingresa una contraseña temporal"
                                            formControlName="password"
                                            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" required>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                        <div *ngIf="f['password'].errors['required']">Este campo requerido</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 24px;"></div>

            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Configuración
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="form-row four-col">
                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="notifications" color="primary">Mostrar al gestionar usuarios</mat-slide-toggle>
                        </div>

                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="active" color="primary">Activo</mat-slide-toggle>
                        </div>

                        <div class="form-field empty"></div>

                        <div class="form-field empty"></div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="toolbar-bottom">
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('catalogos/usuarios')"
                    *ngIf="isReadOnly">Regresar</button>
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('catalogos/usuarios')"
                    *ngIf="!isReadOnly">Cancelar</button>
                <button mat-flat-button class="btn" type="submit" *ngIf="!isReadOnly">{{title}}</button>
            </div>
        </form>
    </div>
</div>