.venta {
    padding: 16px 34px;
    background-color: #F7F7F7;
    height: 100%;
}

.venta .toolbar .icon {
    font-size: 23px;
}

.venta .toolbar .toolbar-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.venta .toolbar .form-container-toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.venta .form-container .form-container-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.venta .form-container .form-container-toolbar .id {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    background-color: #F6FAFF;
    border-radius: 20px;
    padding: 8px;
}

.venta .toolbar .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.01em;
    margin-left: 12px;
}

.venta .toolbar .breadcrumb-item {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #BA9400;
}

.venta .toolbar .toolbar-breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.venta .toolbar .link-breadcrumb {
    cursor: pointer;
}

.venta .toolbar .btn {
    margin-left: auto;
    background-color: transparent !important;
    color: #BA9400 !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
}

.venta .toolbar .link-breadcrumb:hover {
    text-decoration: underline;
}

/* container */
.venta .container .form-container {
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 24px;
    padding: 24px;
    flex-direction: column;
    margin-bottom: 24px;
}

.venta .container .form-container .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
}

.venta .container .form-row {
    justify-content: space-between;
    display: grid;
    grid-column-gap: 40px;
}

.venta .container .form-row.one-col {
    grid-template-columns: repeat(1, 1fr);
}

.venta .container .form-row.two-col {
    grid-template-columns: repeat(2, 1fr);
}

.venta .container .form-row.three-col {
    grid-template-columns: repeat(3, 1fr);
}

.venta .container .form-row.four-col {
    grid-template-columns: repeat(4, 1fr);
}

.venta .form-field {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.toolbar-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
}

.toolbar-bottom .btn.secundary {
    margin-right: 24px;
}

mat-panel-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
}

mat-panel-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.mat-expansion-panel-header-description{
    font-size: 20px;
    flex-grow: unset !important;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label{
    color : #BA9400;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline{
    border-color: #BA9400;
}

.venta .main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.venta .column {
    flex: 6;
    padding: 0px 24px;
}

.venta .datos-cliente{
    background-color: #F7F7F7;
    border-radius: 10px;
    padding: 24px;
}

.venta .mat-expansion-panel-header-title{
    flex-grow: 1 !important;
}

.venta .separator{
    height: 25px;
}

.venta .container-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
    padding: 50px 0px;
}

.venta .container-empty .img {
    height: 67px;
    width: 67px;
}

.venta .container-empty .text {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-align: center;
}

.venta .resumen-label{
    padding: 8px 0px;
    text-align: end;
    height: 22px;
}
.venta .resumen-value{
    background-color: #D9D9D9;
    padding: 8px 0px;
    height: 22px;
    border-radius: 4px;
    text-align: center;
    width: 175px;
}


/* list */
.venta .container .container-list {
    margin-top: 30px;
}

.venta .container .container-list .table{
    margin-top: 30px;
}

.venta .container .container-list .toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.venta .container .container-list .toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 12px;
}

.venta .container .container-list .toolbar .btn {
    width: auto;
    height: 40px;
    border-radius: 8px;
    background-color: #BA9400;
    color: #fff;
    padding: 0px 5px;
}

.venta .container .container-list .user-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.venta .container .container-list .user-wrapper .circle-initials {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #BA9400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    min-width: 28px;
}

.venta .container .container-list .user-wrapper .text {
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 8px;
}

.venta .container .title-grid {
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
}

.venta .container .title-grid:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #BA9400;
}

.venta .container .table .mat-icon{
    color: #ba9400;
}

.mat-mdc-header-row{
    background-color: #eadfb2 !important;
}

.venta .container .table .photo{
    height: 45px;
    width: 45px;
    margin-right: 8px;
}
.venta .container .table .description-wrapper{
    display: flex;
    align-items: center;
}

.venta .container .table  .empty-image-container{
    height: 45px;
    width: 45px;
    margin-right: 8px;
    background-color: #C5C6C7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.venta .container .table .empty-image-container .empty-image{
    width: 30px;
    height: 30px;
}

.venta .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 6px 0 6px;
}

@media only screen and (max-width: 1084px) {
    .venta .container .form-row.four-col {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 835px) {
    .venta .container .form-row.four-col {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 587px) {
    .venta .container .form-row.two-col,
    .venta .container .form-row.three-col,
    .venta .container .form-row.four-col {
        grid-template-columns: repeat(1, 1fr);
    }
}