<div class="venta">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-solid fa-cash-register"></i>
            <span class="title">Ventas</span>
        </div>
        <div class="toolbar-breadcrumb">
            <span class="link-breadcrumb" (click)="navigate('ventas')">Ventas</span>
            <span> / </span>
            <span class="breadcrumb-item">{{title}}</span>
            <!--<button *ngIf="isReadOnly" mat-button class="btn" (click)="makeEditMode()"><mat-icon>edit</mat-icon>Editar
                información
            </button>-->
        </div>
    </div>
    <div class="container">
        <div class="separator"></div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Datos generales
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="form-row two-col">
                        <div>
                            
                        </div>
                        <div class="datos-proveedor">
                        
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="separator"></div>

            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Forma de pago
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="form-row three-col">
                        <div class="form-field">
                            <mat-label class="text-1" *ngIf="isReadOnly">Condición de pago</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['condicion_pago'].value}}</mat-label>
                            <mat-label class="text-1" *ngIf="!isReadOnly">Condición de pago*</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <mat-select formControlName="condicion_pago" [(value)]="selectedCondicionPago" (selectionChange)="onCondicionPagoChange($event)">
                                  <mat-option value="credito">Crédito</mat-option>
                                  <mat-option value="contado">Contado</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="submitted && f['condicion_pago'].errors" class="invalid-feedback">
                                <div *ngIf="f['condicion_pago'].errors['required']">Este campo requerido</div>
                            </div>
                        </div>
                        <div class="form-row two-col">
                            <div class="form-field" >
                                <mat-label class="text-1" *ngIf="isReadOnly">Tiene días de crédito</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['tiene_dias_credito'].value == true ? 'Sí' : 'No'}}</mat-label>
                                <mat-slide-toggle *ngIf="!isReadOnly" formControlName="tiene_dias_credito" color="primary" style="margin: auto;" (toggleChange)="onTieneDiasCreditoChange()">Días de crédito</mat-slide-toggle>
                            </div>
                            <div class="form-field">
                                <mat-label class="text-1"  *ngIf="isReadOnly">Días de crédito</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['cantidad_dias_credito'].value}}</mat-label>
        
                                <mat-label class="text-1"  *ngIf="!isReadOnly">Días de crédito*</mat-label>
                                <mat-form-field *ngIf="!isReadOnly">
                                    <input matInput type="number" placeholder="Días de crédito" formControlName="cantidad_dias_credito" required>
                                </mat-form-field>
                                <div *ngIf="submitted && f['cantidad_dias_credito'].errors" class="invalid-feedback">
                                    <div *ngIf="f['cantidad_dias_credito'].errors['required']">Este campo requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1" *ngIf="isReadOnly">Moneda</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['moneda'].value  ==  'MXN' ? 'Pesos' : 'Dolares'}}</mat-label>
                            <mat-label class="text-1" *ngIf="!isReadOnly">Moneda*</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <mat-select formControlName="moneda">
                                  <mat-option value="MXN">Pesos</mat-option>
                                  <mat-option value="dolar">Dolares</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="submitted && f['moneda'].errors" class="invalid-feedback">
                                <div *ngIf="f['moneda'].errors['required']">Este campo requerido</div>
                            </div>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1" *ngIf="isReadOnly">Forma de pago</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ this.f['forma_pago'].value?.key }} - {{ this.f['forma_pago'].value?.name }}</mat-label>
                            <mat-label class="text-1" *ngIf="!isReadOnly">Forma de pago*</mat-label>
                            <mat-form-field  *ngIf="!isReadOnly">
                                <mat-select [(value)]="selectedFormaPago" formControlName="forma_pago" >
                                    <mat-option *ngFor="let forma_pago of formaPagoList" [value]="forma_pago">{{ forma_pago.key }} - {{ forma_pago.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="submitted && f['forma_pago'].errors" class="invalid-feedback">
                                <div *ngIf="f['forma_pago'].errors['required']">Este campo requerido</div>
                            </div>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1" *ngIf="isReadOnly">Método de pago</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ this.f['metodo_pago'].value?.key }} - {{ this.f['metodo_pago'].value?.name }}</mat-label>
                            <mat-label class="text-1" *ngIf="!isReadOnly">Método de pago*</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <mat-select [(value)]="selectedMetodoPago" formControlName="metodo_pago" >
                                    <mat-option *ngFor="let metodo_pago of metodoPagoList" [value]="metodo_pago">{{ metodo_pago.key }} - {{ metodo_pago.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="submitted && f['metodo_pago'].errors" class="invalid-feedback">
                                <div *ngIf="f['metodo_pago'].errors['required']">Este campo requerido</div>
                            </div>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1">Tipo de cambio</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ formatearComoMoneda(this.f['tipo_cambio'].value) }}</mat-label>
                            <mat-form-field floatLabel="always" *ngIf="!isReadOnly">
                                <input matInput type="number" class="example-right-align" placeholder="0" formControlName="tipo_cambio" min="0" step="0.01" (keypress)="validarDecimal($event)">
                                <span matTextPrefix>$&nbsp;</span>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="separator"></div>

            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Articulos
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="form-row seccion-articulos-header" [class.three-col]="isReadOnly" [class.four-col]="!isReadOnly" style="grid-column-gap: 10px;">
                        <!-- <button *ngIf="!isReadOnly" type="button" style="width: 200px; margin: 50px auto;" mat-flat-button class="btn" (click)="openArticuloVentaModalComponent()" ><mat-icon>add</mat-icon>Agregar artículo</button> -->
                    </div>

                    <div class="form-row one-col">
                        <div *ngIf="!hasRecords" class="container-empty">
                            <img src="../../assets/images/empty-sucursales-alamcen.png" alt="empty logo" class="img">
                            <span class="text">
                                Al parecer aún no tienes información para leer, cuando tengas aparecerán en está sección.
                            </span>
                        </div>

                        <table *ngIf="hasRecords" class="table" mat-table [dataSource]="dataSourceArticulos" style="margin-top: 24px;">

                            <ng-container matColumnDef="numero_parte">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">#Parte</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.almacen.articulo.part_number}}</td>
                            </ng-container>

                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="description-wrapper">
                                        <div *ngIf="!element.almacen.articulo.photo" class="empty-image-container">
                                            <img src="../../assets/images/empty-image.png" class="empty-image">
                                        </div>
                                        <img *ngIf="element.almacen.articulo.photo" class="photo" [src]="getPathPhoto(element.almacen.articulo.photo)">
                                        <span class="dos-renglones">{{element.almacen.articulo.description}}</span>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Total</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.cantidad}}</td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="backorder">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Back order</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <button *ngIf="element.backorder > 0" [disabled]="id == undefined"
                                            mat-stroked-button
                                            type="button"
                                            title="Despachar artículo"
                                            (click)="despacharArticuloVentaModalComponent(element)">
                                        <mat-icon>local_mall</mat-icon>
                                        {{element.backorder}}
                                    </button>
                                </td>
                            </ng-container> -->

                            <ng-container matColumnDef="almacen">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Almacen</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.almacen.almacen.name}}</td>
                            </ng-container>

                            <ng-container matColumnDef="precio_unitario">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Precio venta</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">${{element.precio_venta}}</td>
                            </ng-container>

                            <ng-container matColumnDef="descuento">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Descuento</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.descuento}}</td>
                            </ng-container>

                            <ng-container matColumnDef="importe">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Importe</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">{{calcularImporteByArticulo(element.precio_venta, element.cantidad, element.descuento)}}</td>
                            </ng-container>

                            <ng-container matColumnDef="unidad_medida">
                                <th mat-header-cell *matHeaderCellDef>Unidad Medida</th>
                                <td mat-cell *matCellDef="let element">{{element.unidad_medida}}</td>
                            </ng-container>

                            <ng-container matColumnDef="importe_iva">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Importe IVA</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">{{calcularImporteByArticuloIva(element.precio_venta, element.cantidad, element.descuento)}}</td>
                            </ng-container>

                            <ng-container matColumnDef="importe_retencion">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Importe Retención</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">{{calcularImporteByArticuloRetencion(element.precio_venta, element.cantidad, element.descuento)}}</td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef style="width: 110px; text-align: center;"></th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <!-- <button *ngIf="!isReadOnly" type="button" mat-icon-button aria-label="editar articulo" (click)="editArticuloVentaModalComponent(element)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button *ngIf="!isReadOnly" type="button" mat-icon-button aria-label="elimianr articulo" (click)="removeArticulo(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button> -->
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="form-container form-row two-col" style="grid-template-columns: auto 1fr auto; box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);">
                <div class="form-field" style="width: 600px;">
                    <mat-label *ngIf="isReadOnly" class="text-1">Comentarios</mat-label>
                    <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ this.f['comentarios'].value }}</mat-label>
                    <mat-form-field *ngIf="!isReadOnly">
                        <mat-label>Comentarios</mat-label>
                        <textarea matInput formControlName="comentarios" rows="5"></textarea>
                    </mat-form-field>    
                </div>
                <div>
                </div>
                <div class="form-row two-col" style="width: 300px; grid-column-gap: 8px; grid-row-gap: 10px;">
                    <span class="resumen-label">Subtotal</span>
                    <div class="resumen-value">{{ formatearComoMoneda(subTotal) }}</div>

                    <span class="resumen-label">Descuento</span>
                    <div class="resumen-value">{{ formatearComoMoneda(descuento) }}</div>

                    <span class="resumen-label">IVA</span>
                    <div class="resumen-value">{{ formatearComoMoneda(iva) }}</div>

                    <span class="resumen-label">Retención</span>
                    <div class="resumen-value">{{ formatearComoMoneda(retencion) }}</div>

                    <span class="resumen-label"><b>Total</b></span>
                    <div class="resumen-value"><b>{{ formatearComoMoneda(total) }}</b></div>
                </div>
            </div>

            <div class="toolbar-bottom">
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('ventas')"
                    *ngIf="isReadOnly">Regresar</button>
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('ventas')"
                    *ngIf="!isReadOnly">Cancelar</button>
                <button mat-flat-button class="btn" type="submit" *ngIf="!isReadOnly">{{title}}</button>
            </div>
        </form>
    </div>
</div>