<div class="ventas-list">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-solid fa-money-bill"></i>
            <span class="title">Facturación Ventas</span>
        </div>
        <div>
            <span class="breadcrumb-item">Facturación</span>
        </div>
    </div>
    <div class="container">
        <div *ngIf="!hasRecords" class="container-empty">
            <img src="../../assets/images/empty-list.png" alt="empty logo" class="img">
            <span class="text">Aún no tienes ventas registradas, para poder ver información favor de agregar una venta.</span>
            <button mat-flat-button class="btn" (click)="onNew()"><mat-icon>add</mat-icon>Nueva Factura</button>
        </div>
        <div *ngIf="hasRecords" class="container-list">

            <div class="toolbar">
                <form [formGroup]="form" class="filters">
                    <i class="icon-filter fa-solid fa-filter"></i>
                    <div class="form-field">
                        <mat-label class="text-1">Estatus</mat-label>
                        <mat-form-field style="width: 100%;" class="mini">
                            <mat-select formControlName="estatus" (selectionChange)="onSelectChangeEstatus($event)">
                                <mat-select-trigger>
                                    <span>{{ this.f['estatus'].value }}</span>
                                    <mat-icon style="position: absolute; right: 16px;" matSuffix *ngIf="this.f['estatus'].value" (click)="clearSelectionEstatus()">clear</mat-icon>
                                </mat-select-trigger>
                                <mat-option value="creada">Creada</mat-option>
                                <mat-option value="timbrada">Timbrada</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-label class="text-1">Cliente</mat-label>
                        <mat-form-field style="width: 100%;" class="mini">
                            <input type="text" matInput [matAutocomplete]="auto" formControlName="cliente" [value]="selectedCliente ? selectedCliente.cliente : null">
                            <button type="button" matSuffix mat-icon-button aria-label="Clear" *ngIf="this.f['cliente'].value != undefined" (click)="clearAutocompleteInput()">
                                <mat-icon>close</mat-icon>                                
                            </button>
                            <mat-autocomplete requireSelection autoActiveFirstOption #auto="matAutocomplete">
                               <ng-container *ngFor="let cliente of filteredClientes | async; track cliente">
                                    <mat-option [value]="cliente" (onSelectionChange)="onClienteSelectionChange($event)">{{cliente.cliente}}</mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-label class="text-1">Desde</mat-label>
                        <mat-form-field style="width: 100%;" class="mini">
                            <input matInput [matDatepicker]="picker" formControlName="fechaDesde" (dateChange)="onDateChange($event)">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-label class="text-1">Hasta</mat-label>
                        <mat-form-field style="width: 100%;" class="mini">
                            <input matInput [matDatepicker]="picker2" formControlName="fechaHasta" (dateChange)="onDateChange($event)">
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-slide-toggle formControlName="backOrder" (change)="onToggleChange($event)">Back Order</mat-slide-toggle>
                    </div>
                </form>

                <button mat-flat-button class="btn btn-agregar" (click)="onNew()" type="button"><mat-icon>add</mat-icon>Nueva Factura</button>
            </div>

            <table class="table" mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Id</th>
                    <td mat-cell *matCellDef="let element" class="center-column">
                        <span (click)="onView(element.id)" class="title-grid">
                            {{formatNumber(element.id)}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="estatusFactura">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Estatus Factura</th>
                    <td mat-cell *matCellDef="let element">
                        <div style="display: grid; grid-template-columns: 9px 1fr; grid-gap: 12px;">
                            <span *ngIf="(element.factura_estatus.estatus === 'Por-facturar' || element.factura_estatus.estatus === '')" class="estatus-icon f-por-facturar"></span>
                            <span *ngIf="element.factura_estatus.estatus === 'Cancelada'" class="estatus-icon f-cancelada"></span>
                            <span *ngIf="element.factura_estatus.estatus === 'Pre-Cancelada'" class="estatus-icon f-pre-cancelada"></span>
                            <span *ngIf="element.factura_estatus.estatus === 'Facturada'" class="estatus-icon f-facturada"></span>
                            <span>{{element.factura_estatus.estatus}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="factura_folio">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Folio factura</th>
                    <td mat-cell *matCellDef="let element" class="center-column">{{ element.factura_folio }}</td>
                </ng-container>
                
                <ng-container matColumnDef="estatus">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Estatus venta</th>
                    <td mat-cell *matCellDef="let element">
                        <div style="display: grid; grid-template-columns: 9px 1fr; grid-gap: 12px;">
                            <span *ngIf="capitalizeWords(element.estatus.estatus) === 'Parcialmente'" class="estatus-icon v-parcialmente"></span>
                            <span *ngIf="capitalizeWords(element.estatus.estatus) === 'Cancelada'" class="estatus-icon v-cancelada"></span>
                            <span *ngIf="capitalizeWords(element.estatus.estatus) === 'Despachada'" class="estatus-icon v-despachada"></span>
                            <span>{{capitalizeWords(element.estatus.estatus)}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="backorder">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Back Order</th>
                    <td mat-cell *matCellDef="let element" class="center-column">{{element.backorder == 0 ? 'No' : element.backorder}}</td>
                </ng-container>

                <ng-container matColumnDef="creacion">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Fecha Creación</th>
                    <td mat-cell *matCellDef="let element" class="center-column">{{formatDate(element.created_at)}}</td>
                </ng-container>

                <ng-container matColumnDef="cliente">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Cliente</th>
                    <td mat-cell *matCellDef="let element"><span>{{element.cliente.cliente}}</span></td>
                </ng-container>

                <ng-container matColumnDef="importe">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Importe</th>
                    <td mat-cell *matCellDef="let element" class="center-column"><span>{{formatearComoMoneda(element.importe)}} {{element.moneda}}</span></td>
                </ng-container>

                <ng-container matColumnDef="responsable">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Responsable</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.responsable.id" class="user-wrapper">
                            <div class="circle-initials" mat-mini-fab color="primary" *ngIf="element.responsable.photo == null">
                                {{getUserName(element.responsable.name, element.responsable.last_name)}}
                            </div>
                            <div *ngIf="element.responsable.photo != null" class="container-photo-user">
                                <img class="photo" [src]="getUrlPhoto(element.responsable.photo)">
                            </div>
                            <span class="text">{{element.responsable.name}} {{element.responsable.last_name}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="descargarFacturaPDF(element.factura_cfdi_uid, element.id)">
                                <mat-icon>file_download</mat-icon>
                                <span>Descargar PDF</span>
                            </button>
                            <button mat-menu-item (click)="descargarFacturaXML(element.factura_cfdi_uid, element.id)">
                                <mat-icon>file_download</mat-icon>
                                <span>Descargar XML</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>