<div class="ventas-list">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-solid" [ngClass]="{'fa-money-bill': isVenta, 'fa-file-invoice': !isVenta}"></i>
            <span class="title">{{isVenta ? 'Ventas' : 'Cotizaciones'}}</span>
        </div>
        <div>
            <span class="breadcrumb-item">Listado de {{isVenta ? 'ventas' : 'cotizaciones'}}</span>
        </div>
    </div>
    <div class="container">
        <div *ngIf="!hasRecords" class="container-empty">
            <img src="../../assets/images/empty-list.png" alt="empty logo" class="img">
            <span class="text">
                {{ isVenta ? 'Aún no tienes ventas registradas, para poder ver información favor de agregar una venta.' : 'Aún no tienes cotizaciones registradas, para poder ver información favor de agregar una cotización.'}}
            </span>
            <button mat-flat-button class="btn" (click)="onNew()"><mat-icon>add</mat-icon>
                {{ isVenta ? 'Nueva Venta' : 'Nueva Cotización' }}
            </button>
        </div>
        <div *ngIf="hasRecords" class="container-list">

            <div class="toolbar">
                <form [formGroup]="form" class="filters">
                    <i *ngIf="isVenta" class="icon-filter fa-solid fa-filter"></i>
                    <div *ngIf="isVenta" class="form-field">
                        <mat-label class="text-1">Estatus venta	</mat-label>
                        <mat-form-field style="width: 100%;" class="mini">
                            <mat-select formControlName="venta_estatus" (selectionChange)="onSelectChangeVentaEstatus($event)">
                                <mat-select-trigger>
                                    <span>{{ ventaEstatusLabels[this.f['venta_estatus'].value] || '' }}</span>
                                    <mat-icon style="position: absolute; right: 16px;" matSuffix *ngIf="this.f['venta_estatus'].value" (click)="clearSelectionVentaEstatus()">clear</mat-icon>
                                </mat-select-trigger>
                                <mat-option value="1">{{ ventaEstatusLabels[1] }}</mat-option>
                                <mat-option value="2">{{ ventaEstatusLabels[2] }}</mat-option>
                                <mat-option value="3">{{ ventaEstatusLabels[3] }}</mat-option>
                                <mat-option value="4">{{ ventaEstatusLabels[4] }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="isVenta" class="form-field">
                        <mat-label class="text-1">Cliente</mat-label>
                        <mat-form-field style="width: 100%;" class="mini">
                            <input type="text" matInput [matAutocomplete]="auto" formControlName="cliente" [value]="selectedCliente ? selectedCliente.cliente : null">
                            <button type="button" matSuffix mat-icon-button aria-label="Clear" *ngIf="this.f['cliente'].value != undefined" (click)="clearAutocompleteInput()">
                                <mat-icon>close</mat-icon>                                
                            </button>
                            <mat-autocomplete requireSelection autoActiveFirstOption #auto="matAutocomplete">
                               <ng-container *ngFor="let cliente of filteredClientes | async; track cliente">
                                    <mat-option [value]="cliente" (onSelectionChange)="onClienteSelectionChange($event)">{{cliente.cliente}}</mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div *ngIf="isVenta" class="form-field">
                        <mat-label class="text-1">Desde</mat-label>
                        <mat-form-field style="width: 100%;" class="mini">
                            <input matInput [matDatepicker]="picker" formControlName="fechaDesde" (dateChange)="onDateChange($event)">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div *ngIf="isVenta" class="form-field">
                        <mat-label class="text-1">Hasta</mat-label>
                        <mat-form-field style="width: 100%;" class="mini">
                            <input matInput [matDatepicker]="picker2" formControlName="fechaHasta" (dateChange)="onDateChange($event)">
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </form>

                <button mat-flat-button class="btn btn-agregar" (click)="onNew()" type="button">
                    <mat-icon>add</mat-icon>
                    {{isVenta ? 'Nueva Venta' : 'Nueva Cotización'}}
                </button>
            </div>

            <table class="table" mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="center-column" mat-sort-header>#Id</th>
                    <td mat-cell *matCellDef="let element" class="center-column">
                        <span (click)="onView(element.id)" class="title-grid">
                            {{formatNumber(element.id)}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="estatus">
                    <th mat-header-cell *matHeaderCellDef class="center-column" mat-sort-header>Estatus</th>
                    <td mat-cell *matCellDef="let element">
                        <div style="display: grid; grid-template-columns: 9px 1fr; grid-gap: 12px;">
                            <span class="estatus-icon" [ngClass]="{
                                'v-creada':  element.estatus.venta === ventaEstatusEnum.CREADA,
                                'v-abierta':  element.estatus.venta === ventaEstatusEnum.ABIERTA,
                                'v-cerrada': element.estatus.venta === ventaEstatusEnum.CERRADA
                            }">
                            </span>
                            <span>{{element.estatus.venta}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="estatusFactura">
                    <th mat-header-cell *matHeaderCellDef class="center-column" mat-sort-header>Factura</th>
                    <td mat-cell *matCellDef="let element">
                        <div style="display: grid; grid-template-columns: 9px 1fr; grid-gap: 12px;">
                            <span class="estatus-icon" [ngClass]="{
                                'f-pendiente':  element.estatus.factura === facturaEstatusEnum.PENDIENTE,
                                'f-facturada':  element.estatus.factura === facturaEstatusEnum.FACTURADA,
                                'f-cancelada': element.estatus.factura === facturaEstatusEnum.CANCELADA
                            }">
                            </span>
                            <span>{{element.estatus.factura}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="estatus_pago">
                    <th mat-header-cell *matHeaderCellDef class="center-column" mat-sort-header>Pago</th>
                    <td mat-cell *matCellDef="let element">
                        <div style="display: grid; grid-template-columns: 9px 1fr; grid-gap: 12px;">
                            <span class="estatus-icon" [ngClass]="{
                                'p-sin-adeudo':  element.estatus.pago === pagoEstatusEnum.SIN_ADEUDO,
                                'p-pendiente':  element.estatus.pago === pagoEstatusEnum.PENDIENTE,
                                'p-pagado': element.estatus.pago === pagoEstatusEnum.PAGADO
                            }">
                            </span>
                            <span>{{element.estatus.pago}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="creacion">
                    <th mat-header-cell *matHeaderCellDef class="center-column" mat-sort-header>Fecha Creación</th>
                    <td mat-cell *matCellDef="let element" class="center-column">{{formatDate(element.created_at)}}</td>
                </ng-container>

                <ng-container matColumnDef="cliente">
                    <th mat-header-cell *matHeaderCellDef class="center-column" mat-sort-header>Cliente</th>
                    <td mat-cell *matCellDef="let element"><span>{{element.cliente.cliente}}</span></td>
                </ng-container>

                <ng-container matColumnDef="importe">
                    <th mat-header-cell *matHeaderCellDef class="center-column">Importe</th>
                    <td mat-cell *matCellDef="let element" class="center-column"><span>{{isVenta ? formatearComoMoneda(element.importeFacturado) : formatearComoMoneda(element.importe) }} {{element.moneda}}</span></td>
                </ng-container>

                <ng-container matColumnDef="responsable">
                    <th mat-header-cell *matHeaderCellDef class="center-column" mat-sort-header>Responsable</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.responsable.id" class="user-wrapper">
                            <div class="circle-initials" mat-mini-fab color="primary" *ngIf="element.responsable.photo == null">
                                {{getUserName(element.responsable.name, element.responsable.last_name)}}
                            </div>
                            <div *ngIf="element.responsable.photo != null" class="container-photo-user">
                                <img class="photo" [src]="getUrlPhoto(element.responsable.photo)">
                            </div>
                            <span class="text">{{element.responsable.name}} {{element.responsable.last_name}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="deleteCotizacion(element.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[20, 50, 100]" [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
                (page)="onPageChange($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>