.example-container {
  /*display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
}


.logged mat-sidenav {
  overflow-y: auto;
  position: absolute;
  height: calc(100vh - 80px);
}

.logged mat-sidenav-content {
  overflow-y: auto;
  height: calc(100vh - 80px);
}


.example-is-mobile .example-toolbar {
  position: relative;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.mat-toolbar {
  border-bottom: solid 1px rgba(0, 0, 0, .12);
}

.mat-toolbar.mat-primary {
  background: #fff;
  color: #000;
}

.logo-image {
  width: 200px;
}

.mat-toolbar-single-row {
  padding: 0px;
}

/* Menu */
.mdc-list {
  padding: 0px;
}

.mat-sidenav-menu {
  width: 180px;
}

.menu-option {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  height: 24px;
  cursor: pointer;
}

.menu-option i {
  margin-left: 40px;
}

.menu-option .menu-item-text {
  margin-left: 8px;
}

.mat-expansion-panel{
  border-radius: 0px;
}

.mat-expansion-panel-header {
  padding: 8px 16px 8px 0px !important;
  height: 24px !important;
  cursor: pointer;
  border-radius: 0px;
}

.parent-active .mat-expansion-panel-header {
  background-color: #BA940066;
}

.parent-active .mat-expansion-panel-header .menu-space {
  background-color: #BA9400;
}

.mat-expansion-panel-header .menu-space {
  width: 12px;
  height: 40px;
}

.mat-expansion-panel-header {
  border-radius: 0px
}

.mat-expansion-panel-header {
  padding: 0 24px 0px 0px;
}


.menu-option .menu-space {
  width: 12px;
  height: 40px;
}

.menu-option.active {
  color: #BA9400;
}

.menu-option.active .menu-space {
  background-color: #BA9400;
}

.toolbar-right {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-label {
  border-right: 2px solid darkgray;
  padding: 0px 12px;
}

.btn-notification,
.btn-user {
  margin: 0px 8px;
}

.mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: #fff;
  --mdc-fab-icon-color: #000;
  --mat-mdc-fab-color: #000;
}

.mat-mdc-mini-fab.mat-primary {
  --mdc-fab-container-color: #BA9400;
}

.user-name-label {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.01em;
}

.mat-sidenav-menu-hide {
  display: none;
}

.example-container .mat-expansion-panel-body {
  padding: 0px !important;
}


@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 768px) {

  .toolbar-calendar,
  .user-name-label {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .logo-image {
    width: 150px;
  }

}

@media only screen and (max-width: 404px) {}