<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar *ngIf="isTokenValid" color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../../assets/images/logotipo-negro.svg" alt="Image" class="logo-image">

        <div class="toolbar-right">
            <i class="fa-regular fa-calendar"></i>
            <span class="date-label">{{ getFormattedDate() }}</span>

            <button class="btn-notification" mat-mini-fab>
                <mat-icon>notifications</mat-icon>
            </button>

            <button class="btn-user" mat-mini-fab color="primary">{{userInitials}}</button>

            <span class="user-name-label">{{userName}}</span>
        </div>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav class="mat-sidenav-menu" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list class="mat-nav-menu">
                <div routerLinkActive="active" *ngFor="let nav of fillerNav" class="menu-option"
                    [routerLink]="[nav.href]">
                    <div class="menu-space"></div>
                    <i class="{{nav.icon}}"></i>
                    <span class="menu-item-text">{{nav.text}}</span>
                </div>

                <div class="menu-options-end">
                    <div class="menu-option" (click)="snav.toggle(); logout();">
                        <div class="menu-space"></div>
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span class="menu-item-text">Cerrar sesión</span>
                    </div>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>