<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar *ngIf="isTokenValid" color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../../assets/images/logotipo-negro.svg" alt="Image" class="logo-image">

        <div class="toolbar-right">
            <span class="tipo-cambio">Tipo cambio: </span>
            <span class="tipo-cambio-label">${{ getTipoCambio() }}</span>

            <i class="toolbar-calendar fa-regular fa-calendar"></i>

            <span class="toolbar-calendar date-label">{{ getFormattedDate() }}</span>

            <button class="btn-notification" mat-mini-fab>
                <mat-icon>notifications</mat-icon>
            </button>

            <button *ngIf="!hasPhoto" class="btn-user" mat-mini-fab color="primary">{{userInitials}}</button>

            <div *ngIf="hasPhoto" class="container-photo-user">
                <img class="photo" [src]="getUrlPhoto()">
            </div>
        </div>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [ngClass]="{'logged': isTokenValid}"
        [style.marginTop.px]="mobileQuery.matches ? 0 : 00">

        <mat-sidenav class="mat-sidenav-menu" [ngClass]="{ 'mat-sidenav-menu-hide': !isTokenValid }" #snav
            [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            [opened]="!this.mobileQuery.matches">

            <mat-expansion-panel *ngFor="let nav of fillerNavWithSubmenu" [ngClass]="{'parent-active': isSubmenuActive(nav.subItems)}">
                <mat-expansion-panel-header>
                  <div class="menu-space"></div>
                  <i class="{{ nav.icon }}"></i>
                  <span class="menu-item-text">{{ nav.text }}</span>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <div routerLinkActive="active" *ngFor="let subItem of nav.subItems" class="menu-option" [routerLink]="[subItem.href]">
                        <i class="{{subItem.icon}}"></i>
                        <span class="menu-item-text">{{subItem.text}}</span>
                    </div>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-nav-list class="mat-nav-menu">
                <div class="menu-option" (click)="snav.toggle(); logout();" style="position: absolute; bottom: 0px;">
                    <div class="menu-space"></div>
                    <i class="fa-solid fa-arrow-right-from-bracket" style="margin-left: 12px;"></i>
                    <span class="menu-item-text">Cerrar sesión</span>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>
<app-loading-overlay></app-loading-overlay>