mat-sidenav-content{
    background-color: #F7F7F7;
}
.entrada-sucursal {
    padding: 16px 34px;
    background-color: #F7F7F7;
    height: 100%;
}

.entrada-sucursal .toolbar .icon {
    font-size: 23px;
}

.entrada-sucursal .toolbar .toolbar-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.entrada-sucursal .toolbar .form-container-toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.entrada-sucursal .form-container .form-container-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entrada-sucursal .form-container .form-container-toolbar .id {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    background-color: #F6FAFF;
    border-radius: 20px;
    padding: 8px;
}

.entrada-sucursal .toolbar .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.01em;
    margin-left: 12px;
}

.entrada-sucursal .toolbar .breadcrumb-item {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #BA9400;
}

.entrada-sucursal .toolbar .toolbar-breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.entrada-sucursal .toolbar .link-breadcrumb {
    cursor: pointer;
}

.entrada-sucursal .toolbar .btn {
    margin-left: auto;
    background-color: transparent !important;
    color: #BA9400 !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
}

.entrada-sucursal .toolbar .link-breadcrumb:hover {
    text-decoration: underline;
}

/* container */
.entrada-sucursal .container .form-container {
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 24px;
    padding: 24px;
    flex-direction: column;
    margin-bottom: 24px;
}

.entrada-sucursal .container .form-container .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
}

.entrada-sucursal .container .form-row {
    justify-content: space-between;
    display: grid;
    gap: 20px;
}

.entrada-sucursal .container .form-row.one-col {
    grid-template-columns: repeat(1, 1fr);
}

.entrada-sucursal .container .form-row.two-col {
    grid-template-columns: repeat(2, 1fr);
}

.entrada-sucursal .container .form-row.three-col {
    grid-template-columns: repeat(3, 1fr);
}

.entrada-sucursal .container .form-row.three-col.add-stock {
    grid-template-columns: 1fr 2fr 1fr;
}

.entrada-sucursal .container .form-row.three-col .mat-mdc-form-field-infix{
    width: auto;
}

.entrada-sucursal .mat-mdc-card-subtitle{
    font-size: 20px;
}

.entrada-sucursal .container .form-row.four-col {
    grid-template-columns: repeat(4, 1fr);
}

.entrada-sucursal .container .form-row.two-col-photo {
    grid-template-columns: 170px 2fr
}
.form-field {
    display: flex;
    flex-direction: column;
}

.form-field.name {
    grid-column: span 2;
}

.accordion-address {
    margin-bottom: 24px;
}


.toolbar-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toolbar-bottom .btn.secundary {
    margin-right: 24px;
}

mat-panel-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
}

mat-panel-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.mat-expansion-panel-header-description{
    font-size: 20px;
    flex-grow: unset !important;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label{
    color : #BA9400;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline{
    border-color: #BA9400;
}

.rights mat-panel-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
}

.entrada-sucursal .rights .mat-grid-tile-content{
    justify-content: flex-start;
}

.entrada-sucursal .rights .gray{
    background-color: #FAFAFA;
}

.entrada-sucursal .main-container {
    padding: 20px;
}

.entrada-sucursal .column {
    flex: 6;
    padding: 0px 24px;
}

.entrada-sucursal .column.column-photo {
    flex: 1;
}

 /* photo */
.entrada-sucursal .container-photo{
    width: 150px;
    height: 150px;
    position: relative;
}

.entrada-sucursal .container-photo .photo{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.entrada-sucursal .empty-image-container{
    width: 150px;
    height: 150px;
    background-color: #C5C6C7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.entrada-sucursal .empty-image-container .empty-image{
    width: 51px;
    height: 51px;
}
.entrada-sucursal .container-photo .photo-button{
    position: absolute;
    top: 120px;
    right: -20px;
    background-color: #BA9400;
}

.entrada-sucursal .stock_indicator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 60px;
    border-radius: 8px;
    background-color: #C5C6C7;
    margin: auto;
}

.entrada-sucursal .stock_indicator .title-stock{
    font-size: 16px;
    font-weight: 500;
}

.entrada-sucursal .stock_indicator .stock{
    font-size: 24px;
    font-weight: 500;
}


.entrada-sucursal {
    margin: 0px 150px;
}

.entrada-sucursal .mat-badge-content{
    background-color: green;
}

.entrada-sucursal .stock_indicator-neg .mat-badge-content{
    background-color: red !important;
}

.entrada-sucursal .stock_indicator-hide .mat-badge-content{
    display: none;
}

@media only screen and (max-width: 1500px) {
    .entrada-sucursal {
        margin: 0px 50px;
    }
}

@media only screen and (max-width: 1250px) {
    .entrada-sucursal {
        margin: 0px 0px;
    }
}

@media only screen and (max-width: 1084px) {
    .entrada-sucursal .container .form-row.four-col {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 835px) {
    .entrada-sucursal .container .form-row.four-col {
        grid-template-columns: repeat(2, 1fr);
    }
    .form-field.phone {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 587px) {
    .entrada-sucursal .container .form-row.two-col,
    .entrada-sucursal .container .form-row.four-col {
        grid-template-columns: repeat(1, 1fr);
    }
}