<div class="catalogo-almacenes">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-regular fa-square"></i>
            <span class="title">Catálogo almacenes</span>
        </div>
        <div class="toolbar-breadcrumb">
            <span class="link-breadcrumb" (click)="navigate('almacenes/catalogos')">Almacenes / Catálogos</span>
            <span> / </span>
            <span class="link-breadcrumb" (click)="navigate('almacenes/catalogos/almacenes')">Catálogo almacenes</span>
            <span> / </span>
            <span class="breadcrumb-item">{{title}}</span>

            <button *ngIf="isReadOnly" mat-button class="btn" (click)="makeEditMode()"><mat-icon>edit</mat-icon>Editar
                información</button>
        </div>
    </div>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-container">
                <div class="form-container-toolbar">
                    <span class="title">Datos generales</span>
                    <span *ngIf="action != 'new'" class="id"><b>ID</b> {{id}}</span>
                </div>

                <div class="form-row four-col">
                    <div class="form-field name">
                        <mat-label class="text-1" *ngIf="isReadOnly">Almacén</mat-label>
                        <mat-label class="text-1" *ngIf="!isReadOnly">Almacén*</mat-label>
                        <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['name'].value}}</mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input matInput placeholder="Escribir nombre de la almacen" formControlName="name"
                                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" required>
                        </mat-form-field>
                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                            <div *ngIf="f['name'].errors['required']">Este campo requerido</div>
                        </div>
                    </div>
                    <div class="form-field phone">
                        <mat-label class="text-1 ">Teléfono</mat-label>
                        <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['phone'].value}}</mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input type="tel" matInput placeholder="00-00000" formControlName="phone">
                        </mat-form-field>
                    </div>
                    <div class="form-field phone" *ngIf="isReadOnly">
                        <mat-label class="text-1 ">Fecha de creación</mat-label>
                        <mat-label class="text-1-regular">{{formatDate(this.f['created_at'].value)}}</mat-label>
                    </div>
                </div>
                <div class="form-row one-col">
                    <div class="form-field description">
                        <mat-label class="text-1">Descripción</mat-label>
                        <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['description'].value}}</mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input matInput placeholder="Escribir la descripción de la almacen"
                                formControlName="description">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <mat-accordion class="accordion-address">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Dirección
                        </mat-panel-title>
                        <mat-panel-description>
                            opcional
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="form-row four-col">
                        <div class="form-field estado">
                            <mat-label class="text-1">Estado</mat-label>
                            <mat-label class="text-1-regular"
                                *ngIf="isReadOnly">{{getStateByKey(this.f['state_key'].value)}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <mat-label>Seleccionar estado</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['state_key'].value}} </mat-label>
                                <mat-select [(value)]="selectedState" (selectionChange)="onStateChange($event)"
                                    formControlName="state_key">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let estado of states" [value]="estado.key">{{ estado.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-field municipio">
                            <mat-label class="text-1">Municipio</mat-label>
                            <mat-label class="text-1-regular"
                                *ngIf="isReadOnly">{{getCityByKey(this.f['city_key'].value)}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <mat-label>Seleccionar municipio</mat-label>
                                <mat-select formControlName="city_key">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-field calle">
                            <mat-label class="text-1">Calle</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['street'].value}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <input matInput placeholder="Escribir calle" formControlName="street">
                            </mat-form-field>
                        </div>
                        <div class="form-field colonia">
                            <mat-label class="text-1">Colonia</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['neighborhood'].value}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <input matInput placeholder="Escribir colonia" formControlName="neighborhood">
                            </mat-form-field>
                        </div>
                        <div class="form-field num-ext">
                            <mat-label class="text-1">Núm. exterior</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['external_number'].value}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <input matInput placeholder="Número de exterior" formControlName="external_number">
                            </mat-form-field>
                        </div>
                        <div class="form-field num-int">
                            <mat-label class="text-1">Núm. interior </mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['internal_number'].value}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <input matInput placeholder="Número de interior" formControlName="internal_number">
                            </mat-form-field>
                        </div>
                        <div class="form-field cp">
                            <mat-label class="text-1">CP</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['postal_code'].value}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <input matInput placeholder="Escribir código postal" formControlName="postal_code">
                            </mat-form-field>
                        </div>
                        <div class="form-field empty"></div>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>

            <div style="height: 24px;"></div>

            <mat-accordion class="accordion-sucursales">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Sucursales a surtir
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="form-row two-col" *ngIf="!isReadOnly">
                        <div class="form-field">
                            <mat-label class="text-1">Sucursal</mat-label>
                            <mat-form-field>
                                <mat-label>Seleccionar sucursal</mat-label>
                                <mat-select [(value)]="selectedSucursal">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let sucursal of filteredSucursales" [value]="sucursal">{{ sucursal.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-field add-sucursal-container">
                            <button type="button" mat-mini-fab (click)="addSucursal()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="form-row one-col">
                        <div *ngIf="!hasRecords" class="container-empty">
                            <img src="../../assets/images/empty-sucursales-alamcen.png" alt="empty logo" class="img">
                            <span class="text">
                                Al parecer aún no tienes información para leer, cuando tengas aparecerán en está sección.
                            </span>
                        </div>
                        <table *ngIf="hasRecords" class="table" mat-table [dataSource]="dataSourceSucursales">

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>Sucursal</th>
                                <td mat-cell *matCellDef="let element">{{element.name}}</td>
                            </ng-container>

                            <ng-container matColumnDef="user">
                                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="user-wrapper">
                                        <div class="circle-initials" mat-mini-fab color="primary" *ngIf="element.user.photo == null">
                                            {{getUserName(element.user.name, element.user.last_name)}}
                                        </div>
                                        <div *ngIf="element.user.photo != null" class="container-photo-user">
                                            <img class="photo" [src]="getUrlPhoto(element.user.photo)">
                                        </div>
                                        <span class="text">{{element.user.name}} {{element.user.last_name}}</span>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef>Fecha de relación</th>
                                <td mat-cell *matCellDef="let element">{{formatDate(element.created_at)}}</td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button aria-label="remove sucursal"
                                        (click)="removeSucursal(element)">
                                        <mat-icon *ngIf="!isReadOnly">delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div style="height: 24px;"></div>

            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Configuración
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="form-row four-col">
                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="show_admin_users" color="primary">Mostrar al gestionar
                                usuarios</mat-slide-toggle>
                        </div>

                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="status" color="primary">Activo</mat-slide-toggle>
                        </div>

                        <div class="form-field empty"></div>

                        <div class="form-field empty"></div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="toolbar-bottom">
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('almacenes/catalogos/almacenes')"
                    *ngIf="isReadOnly">Regresar</button>
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('almacenes/catalogos/almacenes')"
                    *ngIf="!isReadOnly">Cancelar</button>
                <button mat-flat-button class="btn" type="submit" *ngIf="!isReadOnly">{{title}}</button>
            </div>
        </form>
    </div>
</div>