<div class="catalogo-almacenes">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-regular fa-building"></i>
            <span class="title">Catálogo almacenes</span>
        </div>
        <div class="toolbar-breadcrumb">
            <span class="link-breadcrumb" (click)="navigate('catalogos')"> Catálogos </span> /
            <span class="link-breadcrumb" (click)="navigate('catalogos/almacenes')"> Catálogo almacenes </span> /
            <span class="breadcrumb-item">{{title}}</span>

            <button *ngIf="isReadOnly" mat-button class="btn" (click)="makeEditMode()"><mat-icon>edit</mat-icon>Editar información</button>
        </div>
    </div>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-container">
                <div class="form-container-toolbar">
                    <span class="title">Datos generales</span>
                    <span *ngIf="action != 'new'" class="id"><b>ID</b> {{id}}</span>
                </div>

                <div class="form-row four-col">
                    <div class="form-field name">
                        <mat-label class="text-1">Almacen*</mat-label>
                        <mat-label class="text-1" *ngIf="isReadOnly">{{this.f['name'].value}}</mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input matInput placeholder="Escribir nombre de la almacen" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" required>
                        </mat-form-field>
                    </div>
                    <div class="form-field phone">
                        <mat-label class="text-1 ">Teléfono</mat-label>
                        <mat-label class="text-1" *ngIf="isReadOnly">{{this.f['phone'].value}}</mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input type="tel" matInput placeholder="00-00000" formControlName="phone">
                        </mat-form-field>
                    </div>
                    <div class="form-field phone" *ngIf="isReadOnly">
                        <mat-label class="text-1 ">Fecha de creación</mat-label>
                        <mat-label class="text-1">{{formatDate(this.f['created_at'].value)}}</mat-label>
                    </div>
                </div>
                <div class="form-row one-col">
                    <div class="form-field description">
                        <mat-label class="text-1">Descripción</mat-label>
                        <mat-label class="text-1" *ngIf="isReadOnly">{{this.f['description'].value}}</mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <input matInput placeholder="Escribir la descripción de la almacen"
                                formControlName="description">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <mat-accordion class="accordion-address">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Dirección
                        </mat-panel-title>
                        <mat-panel-description>
                            opcional
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="form-row four-col">
                        <div class="form-field estado">
                            <mat-label class="text-1">Estado</mat-label>
                            <mat-label class="text-1" *ngIf="isReadOnly">{{getStateByKey(this.f['state_key'].value)}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <mat-label>Seleccionar estado</mat-label>
                                <mat-label class="text-1" *ngIf="isReadOnly">{{this.f['state_key'].value}} </mat-label>
                                <mat-select [(value)]="selectedState" (selectionChange)="onStateChange($event)" formControlName="state_key">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let estado of states" [value]="estado.key">{{ estado.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-field municipio">
                            <mat-label class="text-1">Municipio</mat-label>
                            <mat-label class="text-1" *ngIf="isReadOnly">{{getCityByKey(this.f['city_key'].value)}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <mat-label>Seleccionar municipio</mat-label>
                                <mat-select formControlName="city_key">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let city of cities" [value]="city.key">{{ city.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-field calle">
                            <mat-label class="text-1">Calle</mat-label>
                            <mat-label class="text-1" *ngIf="isReadOnly">{{this.f['street'].value}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <input matInput placeholder="Escribir calle" formControlName="street">
                            </mat-form-field>
                        </div>
                        <div class="form-field colonia">
                            <mat-label class="text-1">Colonia</mat-label>
                            <mat-label class="text-1" *ngIf="isReadOnly">{{this.f['neighborhood'].value}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <input matInput placeholder="Escribir colonia" formControlName="neighborhood">
                            </mat-form-field>
                        </div>
                        <div class="form-field num-ext">
                            <mat-label class="text-1">Núm. exterior</mat-label>
                            <mat-label class="text-1" *ngIf="isReadOnly">{{this.f['external_number'].value}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <input matInput placeholder="Número de exterior" formControlName="external_number">
                            </mat-form-field>
                        </div>
                        <div class="form-field num-int">
                            <mat-label class="text-1">Núm. interior </mat-label>
                            <mat-label class="text-1" *ngIf="isReadOnly">{{this.f['internal_number'].value}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <input matInput placeholder="Número de interior" formControlName="internal_number">
                            </mat-form-field>
                        </div>
                        <div class="form-field cp">
                            <mat-label class="text-1">Cp</mat-label>
                            <mat-label class="text-1" *ngIf="isReadOnly">{{this.f['postal_code'].value}}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                                <input matInput placeholder="Escribir código postal" formControlName="postal_code">
                            </mat-form-field>
                        </div>
                        <div class="form-field empty"></div>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>

            <div style="height: 24px;"></div>

            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Configuración
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="form-row four-col">
                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="show_admin_users" color="primary">Mostrar al gestionar usuarios</mat-slide-toggle>
                        </div>

                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="status" color="primary">Activo</mat-slide-toggle>
                        </div>

                        <div class="form-field empty"></div>

                        <div class="form-field empty"></div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="toolbar-bottom">
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('catalogos/almacenes')"
                    *ngIf="isReadOnly">Regresar</button>
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('catalogos/almacenes')"
                    *ngIf="!isReadOnly">Cancelar</button>
                <button mat-flat-button class="btn" type="submit" *ngIf="!isReadOnly">{{title}}</button>
            </div>
        </form>
    </div>
</div>