<div class="venta">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-solid fa-cash-register"></i>
            <span class="title">Facturación</span>
            <div *ngIf="isReadOnly" style="margin-left: auto; margin-bottom: auto; margin-top: auto; display: flex;">
                
                <mat-card appearance="outlined" style="border: 1px solid #959595; border-radius: 10px; margin-right: 12px; background-color: transparent;">
                    <mat-card-content>
                        <span style="margin-left: 24px; font-size: large;">Venta:</span>
                        <span style="margin-left: 12px;" *ngIf="editData && editData.estatus && capitalizeWords(editData.estatus.estatus || '') === 'Parcialmente'" class="estatus-icon parcialmente-despachada"></span>
                        <span style="margin-left: 12px;" *ngIf="editData && editData.estatus && capitalizeWords(editData.estatus.estatus || '') === 'Cancelada'" class="estatus-icon cancelada"></span>
                        <span style="margin-left: 12px;" *ngIf="editData && editData.estatus && capitalizeWords(editData.estatus.estatus || '') === 'Despachada'" class="estatus-icon despachada"></span>
                        <span style="font-size: large; font-weight: 500;">{{editData && editData.estatus && capitalizeWords(editData.estatus.estatus || '')}}</span>
                    </mat-card-content>
                </mat-card>
                <mat-card appearance="outlined" style="border: 1px solid #959595; border-radius: 10px; margin-left: 12px; background-color: transparent;">
                    <mat-card-content>
                        <span style="font-size: large;">Factura:</span>
                        <span style="margin-left: 12px;" *ngIf="editData && editData.factura_estatus && editData.factura_estatus.estatus === 'Por-pagar'" class="estatus-icon por-pagar"></span>
                        <span style="margin-left: 12px;" *ngIf="editData && editData.factura_estatus && editData.factura_estatus.estatus === 'Cancelada'" class="estatus-icon cancelada"></span>
                        <span style="margin-left: 12px;" *ngIf="editData && editData.factura_estatus && editData.factura_estatus.estatus === 'Pre-Cancelada'" class="estatus-icon pre-cancelada"></span>
                        <span style="margin-left: 12px;" *ngIf="editData && editData.factura_estatus && editData.factura_estatus.estatus === 'Pagada'" class="estatus-icon pagada"></span>
                        <span style="margin-left: 12px;" *ngIf="editData && editData.factura_estatus && editData.factura_estatus.estatus == undefined" class="estatus-icon no-facturada"></span>
                        <span style="font-size: large; font-weight: 500;">{{editData && editData.factura_estatus && editData.factura_estatus.estatus || "No facturada"}}</span>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="toolbar-breadcrumb">
            <span class="link-breadcrumb" (click)="navigate('ventas')">Facturación</span>
            <span> / </span>
            <span class="breadcrumb-item" style="margin-right: auto;">{{title}}</span>

            <button style="margin-left: unset;" *ngIf="isReadOnly" type="button" mat-button class="btn" (click)="descargarFacturaPDF()" ><mat-icon>file_download</mat-icon>Factur PDF</button>
            <button style="margin-left: unset;" *ngIf="isReadOnly" type="button" mat-button class="btn" (click)="descargarFacturaXML()" ><mat-icon>file_download</mat-icon>Factur XML</button>
            <!-- <button style="margin-left: unset;" *ngIf="isReadOnly" type="button" mat-button class="btn" (click)="cancelarFactura()" ><mat-icon>cancel</mat-icon>Cancelar factura</button> -->
        </div>
    </div>
    <div class="container">

        <div class="separator"></div>

        <div *ngIf="isReadOnly">
            <mat-accordion *ngIf="isReadOnly">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Datos Factura
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
    
                    <div class="form-row" style="grid-template-columns: 1fr 2fr 1fr 1fr 1fr;">
    
                        <div class="form-field">
                            <mat-label class="text-1">Id</mat-label>
                            <mat-label class="text-1-regular">{{editData?.id}}</mat-label>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1">Cliente</mat-label>
                            <mat-label class="text-1-regular">{{editData?.cliente?.id}} - {{editData?.cliente?.nombre_fiscal}}</mat-label>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1">Fecha registro</mat-label>
                            <mat-label class="text-1-regular">{{ editData?.created_at ? formatDate(editData?.created_at) : "N/A" }}</mat-label>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1">Fecha factura</mat-label>
                            <mat-label class="text-1-regular"> {{ editData?.factura_fecha_timbrado ? formatDate(editData?.factura_fecha_timbrado) : "Sin fecha de factura" }}</mat-label>
                        </div>
                        <div class="numero-parte-container">
                            <mat-label class="text-1">Folio factura</mat-label>
                            <mat-label class="text-1-regular">{{ editData?.factura_folio || "Sin folio" }}</mat-label>
                        </div>
    
    
                        <div class="form-field">
                            <mat-label class="text-1">Forma de pago</mat-label>
                            <mat-label class="text-1-regular">{{editData?.forma_pago?.key}} - {{editData?.forma_pago?.name}}</mat-label>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1">Método de pago</mat-label>
                            <mat-label class="text-1-regular">{{editData?.metodo_pago?.key}} - {{editData?.metodo_pago?.name}}</mat-label>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1">Condición de pago</mat-label>
                            <mat-label class="text-1-regular" style="text-transform: capitalize;">{{ editData?.condicion_pago }}</mat-label>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1">Días de crédito</mat-label>
                            <mat-label class="text-1-regular">{{ editData?.tiene_dias_credito ?  editData?.cantidad_dias_credito : "Sin días de crédito" }}</mat-label>
                        </div>
                        <div class="saldo">
                            <mat-label class="text-1">Importe total</mat-label>
                            <mat-label class="text-1-regular">{{ formatearComoMoneda(total) }}</mat-label>
                        </div>
    
                        
                        <div class="form-field">
                            <mat-label class="text-1">Moneda</mat-label>
                            <mat-label class="text-1-regular">{{ editData?.moneda }}</mat-label>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1">T.C</mat-label>
                            <mat-label class="text-1-regular" style="text-transform: capitalize;">{{ editData?.tipo_cambio }}</mat-label>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1">Traslada IVA</mat-label>
                            <mat-label class="text-1-regular">{{ editData?.translada_iva ?  editData?.translada_iva_porcentaje : "No traslada iva" }}</mat-label>
                        </div>
                        <div class="form-field">
                            <mat-label class="text-1">Retiene IVA</mat-label>
                            <mat-label class="text-1-regular">{{ editData?.retiene_iva ?  editData?.retiene_iva_porcentaje : "No retiene iva" }}</mat-label>
                        </div>
                        <div class="saldo saldo-red">
                            <mat-label class="text-1">Saldo</mat-label>
                            <mat-label class="text-1-regular">{{ formatearComoMoneda(subTotal) }}</mat-label>
                        </div>
                        
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="separator"></div>

            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <div class="form-row one-col rights">
                        <mat-tab-group>
                            <mat-tab label="Artículos">
                                <table *ngIf="hasRecords" class="table" mat-table [dataSource]="dataSourceArticulos" style="margin-top: 24px;">
    
                                    <ng-container matColumnDef="numero_parte">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">#Parte</th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.almacen.articulo.part_number}}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="descripcion">
                                        <th mat-header-cell *matHeaderCellDef>Descripción</th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="description-wrapper">
                                                <div *ngIf="!element.almacen.articulo.photo" class="empty-image-container">
                                                    <img src="../../assets/images/empty-image.png" class="empty-image">
                                                </div>
                                                <img *ngIf="element.almacen.articulo.photo" class="photo" [src]="getPathPhoto(element.almacen.articulo.photo)">
                                                <span class="dos-renglones">{{element.almacen.articulo.description}}</span>
                                            </div>
                                        </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="total">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Total</th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.cantidad}}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="backorder">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Back order</th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                                            <button *ngIf="element.backorder > 0" [disabled]="id == undefined"
                                                    mat-stroked-button
                                                    type="button"
                                                    title="Despachar artículo"
                                                    (click)="despacharArticuloVentaModalComponent(element)">
                                                <mat-icon>local_mall</mat-icon>
                                                {{element.backorder}}
                                            </button>
                                        </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="almacen">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Almacen</th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.almacen.almacen.name}}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="precio_unitario">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Precio venta</th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">${{element.precio_venta}}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="descuento">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Descuento</th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.descuento}}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="importe">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Importe</th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{calcularImporteByArticulo(element.precio_venta, element.cantidad, element.descuento)}}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="unidad_medida">
                                        <th mat-header-cell *matHeaderCellDef>Unidad Medida</th>
                                        <td mat-cell *matCellDef="let element">{{element.unidad_medida.name}}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="importe_iva">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Importe IVA</th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{calcularImporteByArticuloIva(element.precio_venta, element.cantidad, element.descuento)}}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="importe_retencion">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Importe Retención</th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">{{calcularImporteByArticuloRetencion(element.precio_venta, element.cantidad, element.descuento)}}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef style="width: 110px; text-align: center;"></th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                                            <button *ngIf="!isReadOnly" type="button" mat-icon-button aria-label="editar articulo" (click)="editArticuloVentaModalComponent(element)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button *ngIf="!isReadOnly" type="button" mat-icon-button aria-label="elimianr articulo" (click)="removeArticulo(element)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
        
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </mat-tab>
                            <mat-tab label="Notas de crédito">Notas de crédito</mat-tab>
                            <mat-tab label="Pagos y Abonos">Pagos y Abonos</mat-tab>
                            <mat-tab label="Documentos">Documentos</mat-tab>
                            <mat-tab label="Comentarios">Comentarios</mat-tab>
                            <mat-tab label="Cancelar">Cancelar</mat-tab>
                        </mat-tab-group>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div *ngIf="!isReadOnly">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Datos generales
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
    
                        <div class="form-row two-col" style="grid-template-columns: 1fr 2fr;">
                            <div>
                                <div class="form-field">
                                    <mat-label class="text-1" *ngIf="isReadOnly">Fecha compra cliente</mat-label>
                                    <mat-label class="text-1-regular" *ngIf="isReadOnly">{{formatDate(this.f['fecha_compra_cliente'].value)}}</mat-label>
                                    <mat-label class="text-1" *ngIf="!isReadOnly">Fecha compra cliente (opcional)</mat-label>
                                    <mat-form-field *ngIf="!isReadOnly">
                                        <input matInput [matDatepicker]="picker" formControlName="fecha_compra_cliente" [matDatepickerFilter]="filterFutureDates">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="form-field">
                                    <mat-label class="text-1" *ngIf="isReadOnly">Vendedor</mat-label>
                                    <mat-label class="text-1-regular" *ngIf="isReadOnly && editData != null && editData.vendedor != null && editData.vendedor.name != null">{{this.editData.vendedor.name + ' ' + this.editData.vendedor.lastname}}</mat-label>
                                    <mat-label class="text-1-regular" *ngIf="isReadOnly && editData != null && editData.vendedor != null && editData.vendedor.name == null">Sin vendedor</mat-label>
                                    <mat-label class="text-1" *ngIf="!isReadOnly">Vendedor (opcional)</mat-label>
                                    <mat-form-field *ngIf="!isReadOnly">
                                        <input type="text" matInput [matAutocomplete]="autoVenddores" formControlName="vendedor">
                                        <button type="button" matSuffix mat-icon-button aria-label="Clear" *ngIf="route.snapshot.paramMap.get('ventaId') == undefined && this.f['vendedor'].value != undefined" (click)="clearAutocompleteInputVendedor()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-autocomplete requireSelection autoActiveFirstOption #autoVenddores="matAutocomplete">
                                            <ng-container *ngFor="let vendedor of filteredVendedores | async; track vendedor">
                                                <mat-option [value]="vendedor.name + ' ' + vendedor.lastname">{{vendedor.name}} {{vendedor.lastname}}</mat-option> 
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="form-field">
                                    <mat-label class="text-1" *ngIf="isReadOnly">Uso CFDI</mat-label>
                                    <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['usoCfdi'].value?.name}}</mat-label>
                                    <mat-label class="text-1" *ngIf="!isReadOnly">Uso CFDI*</mat-label>
                                    <mat-form-field *ngIf="!isReadOnly">
                                        <mat-select [(value)]="selectedUsoCfdi" formControlName="usoCfdi" >
                                            <mat-option *ngFor="let usoCfdi of usoCfdiList" [value]="usoCfdi">{{ usoCfdi.key }} - {{ usoCfdi.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f['usoCfdi'].errors" class="invalid-feedback">
                                        <div *ngIf="f['usoCfdi'].errors['required']">Este campo requerido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="datos-cliente">
                                <div class="form-row one-col">
                                    <div class="form-field" style="margin-top: 00px;">
                                        <mat-label class="text-1" *ngIf="isReadOnly">Cliente</mat-label>
                                        <mat-label class="text-1-regular" *ngIf="isReadOnly && editData != null">{{this.editData.cliente?.cliente}}</mat-label>
                                        <mat-label class="text-1" *ngIf="!isReadOnly">Cliente*</mat-label>
                                        <mat-form-field *ngIf="!isReadOnly">
                                            <input type="text" matInput required [matAutocomplete]="auto" formControlName="cliente" [value]="selectedCliente ? selectedCliente.cliente : null">
                                            <button type="button" matSuffix mat-icon-button aria-label="Clear" *ngIf="route.snapshot.paramMap.get('ventaId') == undefined && this.f['cliente'].value != undefined" (click)="clearAutocompleteInput()">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-autocomplete requireSelection autoActiveFirstOption #auto="matAutocomplete">
                                                <ng-container *ngFor="let cliente of filteredClientes | async; track cliente">
                                                    <mat-option [value]="cliente" (onSelectionChange)="onClienteSelectionChange($event)">{{cliente.cliente}}</mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-row two-col">
                                    <div class="form-field">
                                        <mat-label class="text-1">Tipo de Cliente</mat-label>
                                        <mat-label *ngIf="isReadOnly && editData != null" class="text-1-regular">{{this.editData.cliente?.tipo}}</mat-label>
                                        <mat-label *ngIf="!isReadOnly" class="text-1-regular">{{ this.f['cliente'].value != null ? this.f['cliente'].value.tipo : 'Selecciona un cliente' }}</mat-label>
                                    </div>
                                    <div class="form-field">
                                        <mat-label class="text-1">RFC</mat-label>
                                        <mat-label *ngIf="isReadOnly && editData != null" class="text-1-regular">{{this.editData.cliente?.rfc}}</mat-label>
                                        <mat-label *ngIf="!isReadOnly" class="text-1-regular">{{ this.f['cliente'].value != null ? this.f['cliente'].value.rfc : 'Selecciona un cliente' }}</mat-label>
                                    </div>
                                </div>
                                <div class="form-row two-col">
                                    <div class="form-field">
                                        <mat-label class="text-1">Razón social</mat-label>
                                        <mat-label *ngIf="isReadOnly && editData != null" class="text-1-regular">{{this.editData.cliente?.nombre_fiscal}}</mat-label>
                                        <mat-label *ngIf="!isReadOnly" class="text-1-regular">{{ this.f['cliente'].value != null ? this.f['cliente'].value.nombre_fiscal : 'Selecciona un cliente' }}</mat-label>
                                    </div>
                                    <div class="form-field">
                                        <mat-label class="text-1">Régimen fiscal</mat-label>
                                        <mat-label *ngIf="isReadOnly && editData?.cliente?.regimen_fiscal" class="text-1-regular">
                                          {{ editData?.cliente?.regimen_fiscal?.key }} {{ editData?.cliente?.regimen_fiscal?.name }}
                                        </mat-label>
                                        <mat-label *ngIf="!isReadOnly" class="text-1-regular">
                                          {{ f['cliente'].value?.regimen_fiscal ? (f['cliente'].value.regimen_fiscal.key + ' ' + f['cliente'].value.regimen_fiscal.name) : 'Selecciona un cliente' }}
                                        </mat-label>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
    
                <div class="separator"></div>
    
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Forma de pago
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
    
                        <div class="form-row three-col">
                            <div class="form-field">
                                <mat-label class="text-1" *ngIf="isReadOnly">Condición de pago</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['condicion_pago'].value}}</mat-label>
                                <mat-label class="text-1" *ngIf="!isReadOnly">Condición de pago*</mat-label>
                                <mat-form-field *ngIf="!isReadOnly">
                                    <mat-select formControlName="condicion_pago" [(value)]="selectedCondicionPago" (selectionChange)="onCondicionPagoChange($event)">
                                      <mat-option value="credito">Crédito</mat-option>
                                      <mat-option value="contado">Contado</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="submitted && f['condicion_pago'].errors" class="invalid-feedback">
                                    <div *ngIf="f['condicion_pago'].errors['required']">Este campo requerido</div>
                                </div>
                            </div>
                            <div class="form-row two-col">
                                <div class="form-field" >
                                    <mat-label class="text-1" *ngIf="isReadOnly">Tiene días de crédito</mat-label>
                                    <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['tiene_dias_credito'].value == true ? 'Sí' : 'No'}}</mat-label>
                                    <mat-slide-toggle *ngIf="!isReadOnly" formControlName="tiene_dias_credito" color="primary" style="margin: auto;" (toggleChange)="onTieneDiasCreditoChange()">Días de crédito</mat-slide-toggle>
                                </div>
                                <div class="form-field">
                                    <mat-label class="text-1"  *ngIf="isReadOnly">Días de crédito</mat-label>
                                    <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['cantidad_dias_credito'].value}}</mat-label>
            
                                    <mat-label class="text-1"  *ngIf="!isReadOnly">Días de crédito*</mat-label>
                                    <mat-form-field *ngIf="!isReadOnly">
                                        <input matInput type="number" placeholder="Días de crédito" formControlName="cantidad_dias_credito" required>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f['cantidad_dias_credito'].errors" class="invalid-feedback">
                                        <div *ngIf="f['cantidad_dias_credito'].errors['required']">Este campo requerido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <mat-label class="text-1" *ngIf="isReadOnly">Moneda</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['moneda'].value  ==  'MXN' ? 'Pesos' : 'Dolares'}}</mat-label>
                                <mat-label class="text-1" *ngIf="!isReadOnly">Moneda*</mat-label>
                                <mat-form-field *ngIf="!isReadOnly">
                                    <mat-select formControlName="moneda">
                                      <mat-option value="MXN">Pesos</mat-option>
                                      <mat-option value="USD">Dolares</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="submitted && f['moneda'].errors" class="invalid-feedback">
                                    <div *ngIf="f['moneda'].errors['required']">Este campo requerido</div>
                                </div>
                            </div>
                            <div class="form-field">
                                <mat-label class="text-1" *ngIf="isReadOnly">Forma de pago</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ this.f['forma_pago'].value?.key }} - {{ this.f['forma_pago'].value?.name }}</mat-label>
                                <mat-label class="text-1" *ngIf="!isReadOnly">Forma de pago*</mat-label>
                                <mat-form-field  *ngIf="!isReadOnly">
                                    <mat-select [(value)]="selectedFormaPago" formControlName="forma_pago" >
                                        <mat-option *ngFor="let forma_pago of formaPagoList" [value]="forma_pago">{{ forma_pago.key }} - {{ forma_pago.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="submitted && f['forma_pago'].errors" class="invalid-feedback">
                                    <div *ngIf="f['forma_pago'].errors['required']">Este campo requerido</div>
                                </div>
                            </div>
                            <div class="form-field">
                                <mat-label class="text-1" *ngIf="isReadOnly">Método de pago</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ this.f['metodo_pago'].value?.key }} - {{ this.f['metodo_pago'].value?.name }}</mat-label>
                                <mat-label class="text-1" *ngIf="!isReadOnly">Método de pago*</mat-label>
                                <mat-form-field *ngIf="!isReadOnly">
                                    <mat-select [(value)]="selectedMetodoPago" formControlName="metodo_pago" >
                                        <mat-option *ngFor="let metodo_pago of metodoPagoList" [value]="metodo_pago">{{ metodo_pago.key }} - {{ metodo_pago.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="submitted && f['metodo_pago'].errors" class="invalid-feedback">
                                    <div *ngIf="f['metodo_pago'].errors['required']">Este campo requerido</div>
                                </div>
                            </div>
                            <div class="form-field">
                                <mat-label class="text-1">Tipo de cambio</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ formatearComoMoneda(this.f['tipo_cambio'].value) }}</mat-label>
                                <mat-form-field floatLabel="always" *ngIf="!isReadOnly">
                                    <input matInput type="number" class="example-right-align" placeholder="0" formControlName="tipo_cambio" min="0" step="0.01" (keypress)="validarDecimal($event)">
                                    <span matTextPrefix>$&nbsp;</span>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
    
                <div class="separator"></div>
    
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Articulos
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
    
                        <div class="form-row seccion-articulos-header" [class.three-col]="isReadOnly" [class.four-col]="!isReadOnly" style="grid-column-gap: 10px;">
                            <div class="form-field">
                                <mat-label class="text-1" *ngIf="isReadOnly">Objeto impuesto</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['objeto_impuesto'].value?.name}}</mat-label>
                                <mat-label class="text-1" *ngIf="!isReadOnly">Objeto impuesto*</mat-label>
                                <mat-form-field *ngIf="!isReadOnly">
                                    <mat-select [(value)]="selectedObjetoImpuesto" formControlName="objeto_impuesto" >
                                        <mat-option *ngFor="let objeto_impuesto of objetoImpuestoList" [value]="objeto_impuesto">{{ objeto_impuesto.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="submitted && f['objeto_impuesto'].errors" class="invalid-feedback">
                                    <div *ngIf="f['objeto_impuesto'].errors['required']">Este campo requerido</div>
                                </div>
                            </div>
                            <div class="form-row two-col">
                                <div class="form-field">
                                    <mat-label class="text-1" *ngIf="isReadOnly">Traslada IVA</mat-label>
                                    <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['translada_iva'].value == true ? 'Sí' : 'No'}}</mat-label>
                                    <mat-slide-toggle *ngIf="!isReadOnly" formControlName="translada_iva" color="primary" style="margin: auto;">Traslada IVA</mat-slide-toggle>
                                </div>
                                <div class="form-field" *ngIf="isReadOnly">
                                    <mat-label class="text-1">Traslada IVA Porcentaje</mat-label>
                                    <mat-label class="text-1-regular">{{this.f['translada_iva_porcentaje'].value}}%</mat-label>
                                </div>
                                <div class="form-field" style="margin-top: 40px; min-width: 80px;" *ngIf="!isReadOnly">
                                    <mat-form-field>
                                        <mat-select formControlName="translada_iva_porcentaje">
                                            <mat-option value="0">0%</mat-option>
                                            <mat-option value="0.08">8%</mat-option>
                                            <mat-option value="0.16">16%</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-row two-col">
                                <div class="form-field" >
                                    <mat-label class="text-1" *ngIf="isReadOnly">Retiene IVA</mat-label>
                                    <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['retiene_iva'].value == true ? 'Sí' : 'No'}}</mat-label>
                                    <mat-slide-toggle *ngIf="!isReadOnly" formControlName="retiene_iva" color="primary" style="margin: auto;">Retiene IVA</mat-slide-toggle>
                                </div>
    
                                <div class="form-field" *ngIf="isReadOnly">
                                    <mat-label class="text-1">Retiene IVA Porcentaje</mat-label>
                                    <mat-label class="text-1-regular">{{this.f['retiene_iva_porcentaje'].value}}%</mat-label>
                                </div>
                                <div class="form-field" style="margin-top: 40px; min-width: 80px;" *ngIf="!isReadOnly">
                                    <mat-form-field>
                                        <mat-select formControlName="retiene_iva_porcentaje">
                                            <mat-option value="0">0%</mat-option>
                                            <mat-option value="0.04">4%</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button *ngIf="!isReadOnly" type="button" style="width: 200px; margin: 50px auto;" mat-flat-button class="btn" (click)="openArticuloVentaModalComponent()" ><mat-icon>add</mat-icon>Agregar artículo</button>
                        </div>
    
                        <div class="form-row one-col">
                            <div *ngIf="!hasRecords" class="container-empty">
                                <img src="../../assets/images/empty-sucursales-alamcen.png" alt="empty logo" class="img">
                                <span class="text">
                                    Al parecer aún no tienes información para leer, cuando tengas aparecerán en está sección.
                                </span>
                            </div>
    
                            <table *ngIf="hasRecords" class="table" mat-table [dataSource]="dataSourceArticulos" style="margin-top: 24px;">
    
                                <ng-container matColumnDef="numero_parte">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">#Parte</th>
                                    <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.almacen.articulo.part_number}}</td>
                                </ng-container>
    
                                <ng-container matColumnDef="descripcion">
                                    <th mat-header-cell *matHeaderCellDef>Descripción</th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="description-wrapper">
                                            <div *ngIf="!element.almacen.articulo.photo" class="empty-image-container">
                                                <img src="../../assets/images/empty-image.png" class="empty-image">
                                            </div>
                                            <img *ngIf="element.almacen.articulo.photo" class="photo" [src]="getPathPhoto(element.almacen.articulo.photo)">
                                            <span class="dos-renglones">{{element.almacen.articulo.description}}</span>
                                        </div>
                                    </td>
                                </ng-container>
    
                                <ng-container matColumnDef="total">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Total</th>
                                    <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.cantidad}}</td>
                                </ng-container>
    
                                <ng-container matColumnDef="backorder">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Back order</th>
                                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                                        <button *ngIf="element.backorder > 0" [disabled]="id == undefined"
                                                mat-stroked-button
                                                type="button"
                                                title="Despachar artículo"
                                                (click)="despacharArticuloVentaModalComponent(element)">
                                            <mat-icon>local_mall</mat-icon>
                                            {{element.backorder}}
                                        </button>
                                    </td>
                                </ng-container>
    
                                <ng-container matColumnDef="almacen">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Almacen</th>
                                    <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.almacen.almacen.name}}</td>
                                </ng-container>
    
                                <ng-container matColumnDef="precio_unitario">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Precio venta</th>
                                    <td mat-cell *matCellDef="let element" style="text-align: center;">${{element.precio_venta}}</td>
                                </ng-container>
    
                                <ng-container matColumnDef="descuento">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Descuento</th>
                                    <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.descuento}}</td>
                                </ng-container>
    
                                <ng-container matColumnDef="importe">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Importe</th>
                                    <td mat-cell *matCellDef="let element" style="text-align: center;">{{calcularImporteByArticulo(element.precio_venta, element.cantidad, element.descuento)}}</td>
                                </ng-container>
    
                                <ng-container matColumnDef="unidad_medida">
                                    <th mat-header-cell *matHeaderCellDef>Unidad Medida</th>
                                    <td mat-cell *matCellDef="let element">{{element.unidad_medida.name}}</td>
                                </ng-container>
    
                                <ng-container matColumnDef="importe_iva">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Importe IVA</th>
                                    <td mat-cell *matCellDef="let element" style="text-align: center;">{{calcularImporteByArticuloIva(element.precio_venta, element.cantidad, element.descuento)}}</td>
                                </ng-container>
    
                                <ng-container matColumnDef="importe_retencion">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Importe Retención</th>
                                    <td mat-cell *matCellDef="let element" style="text-align: center;">{{calcularImporteByArticuloRetencion(element.precio_venta, element.cantidad, element.descuento)}}</td>
                                </ng-container>
    
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef style="width: 110px; text-align: center;"></th>
                                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                                        <button *ngIf="!isReadOnly" type="button" mat-icon-button aria-label="editar articulo" (click)="editArticuloVentaModalComponent(element)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button *ngIf="!isReadOnly" type="button" mat-icon-button aria-label="elimianr articulo" (click)="removeArticulo(element)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
    
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
    
                <div class="form-container form-row two-col" style="grid-template-columns: auto 1fr auto; box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);">
                    <div class="form-field" style="width: 600px;">
                        <mat-label *ngIf="isReadOnly" class="text-1">Comentarios</mat-label>
                        <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ this.f['comentarios'].value }}</mat-label>
                        <mat-form-field *ngIf="!isReadOnly">
                            <mat-label>Comentarios</mat-label>
                            <textarea matInput formControlName="comentarios" rows="5"></textarea>
                        </mat-form-field>    
                    </div>
                    <div>
                    </div>
                    <div class="form-row two-col" style="width: 300px; grid-column-gap: 8px; grid-row-gap: 10px;">
                        <span class="resumen-label">Subtotal</span>
                        <div class="resumen-value">{{ formatearComoMoneda(subTotal) }}</div>
    
                        <span class="resumen-label">Descuento</span>
                        <div class="resumen-value">{{ formatearComoMoneda(descuento) }}</div>
    
                        <span class="resumen-label">IVA</span>
                        <div class="resumen-value">{{ formatearComoMoneda(iva) }}</div>
    
                        <span class="resumen-label">Retención</span>
                        <div class="resumen-value">{{ formatearComoMoneda(retencion) }}</div>
    
                        <span class="resumen-label"><b>Total</b></span>
                        <div class="resumen-value"><b>{{ formatearComoMoneda(total) }}</b></div>
                    </div>
                </div>
    
                <div class="toolbar-bottom">
                    <button mat-flat-button class="btn secundary" type="button" (click)="navigate('ventas')"
                        *ngIf="isReadOnly">Regresar</button>
                    <button mat-flat-button class="btn secundary" type="button" (click)="navigate('ventas')"
                        *ngIf="!isReadOnly">Cancelar</button>
                    <button mat-flat-button class="btn" type="submit" *ngIf="!isReadOnly">{{title}}</button>
                </div>
            </form>
        </div>

    </div>
</div>