mat-sidenav-content {
    background-color: #F7F7F7;
}

.entrada-almacen {
    padding: 16px 34px;
    background-color: #F7F7F7;
}

.entrada-almacen .toolbar .icon {
    font-size: 23px;
}

.entrada-almacen .toolbar .toolbar-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.entrada-almacen .toolbar .form-container-toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.entrada-almacen .form-container .form-container-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entrada-almacen .form-container .form-container-toolbar .id {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    background-color: #F6FAFF;
    border-radius: 20px;
    padding: 8px;
}

.entrada-almacen .toolbar .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.01em;
    margin-left: 12px;
}

.entrada-almacen .toolbar .breadcrumb-item {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #BA9400;
}

.entrada-almacen .toolbar .toolbar-breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.entrada-almacen .toolbar .link-breadcrumb {
    cursor: pointer;
}

.entrada-almacen .toolbar .btn {
    margin-left: auto;
    background-color: transparent !important;
    color: #BA9400 !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
}

.entrada-almacen .toolbar .link-breadcrumb:hover {
    text-decoration: underline;
}

/* container */
.entrada-almacen .container .form-container {
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 24px;
    padding: 24px;
    flex-direction: column;
    margin-bottom: 24px;
}

.entrada-almacen .container .form-container .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
}

.entrada-almacen .container .form-row {
    justify-content: space-between;
    display: grid;
    gap: 20px;
}

.entrada-almacen .container .form-row.one-col {
    grid-template-columns: repeat(1, 1fr);
}

.entrada-almacen .container .form-row.two-col {
    grid-template-columns: repeat(2, 1fr);
}

.entrada-almacen .container .form-row.three-col {
    grid-template-columns: repeat(3, 1fr);
}

.entrada-almacen .container .form-row.three-col .mat-mdc-form-field-infix {
    width: auto;
}

.entrada-almacen .mat-mdc-card-subtitle {
    font-size: 20px;
}

.entrada-almacen .container .form-row.four-col {
    grid-template-columns: repeat(4, 1fr);
}

.entrada-almacen .container .form-row.two-col-photo {
    grid-template-columns: 170px 2fr
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field.name {
    grid-column: span 2;
}

.accordion-address {
    margin-bottom: 24px;
}


.toolbar-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
}

.toolbar-bottom .btn.secundary {
    margin-right: 24px;
}

mat-panel-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
}

mat-panel-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.mat-expansion-panel-header-description {
    font-size: 20px;
    flex-grow: unset !important;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: #BA9400;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
    border-color: #BA9400;
}

.rights mat-panel-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
}

.entrada-almacen .rights .mat-grid-tile-content {
    justify-content: flex-start;
}

.entrada-almacen .rights .gray {
    background-color: #FAFAFA;
}

.entrada-almacen .main-container {
    padding: 20px;
}

.entrada-almacen .column {
    flex: 6;
    padding: 0px 24px;
}

.entrada-almacen .column.column-photo {
    flex: 1;
}

/* photo */
.entrada-almacen .container-photo {
    width: 150px;
    height: 150px;
    position: relative;
}

.entrada-almacen .container-photo .photo {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.entrada-almacen .empty-image-container {
    width: 150px;
    height: 150px;
    background-color: #C5C6C7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.entrada-almacen .empty-image-container .empty-image {
    width: 51px;
    height: 51px;
}

.entrada-almacen .container-photo .photo-button {
    position: absolute;
    top: 120px;
    right: -20px;
    background-color: #BA9400;
}

.entrada-almacen .stock_indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 60px;
    border-radius: 8px;
    background-color: #C5C6C7;
    margin: auto;
}

.entrada-almacen .stock_indicator .title-stock {
    font-size: 16px;
    font-weight: 500;
}

.entrada-almacen .stock_indicator .stock {
    font-size: 24px;
    font-weight: 500;
}


.entrada-almacen {
    margin: 0px 150px;
}

.entrada-almacen .mat-badge-content {
    background-color: green;
}

.entrada-almacen .stock_indicator-neg .mat-badge-content {
    background-color: red !important;
}

.entrada-almacen .stock_indicator-hide .mat-badge-content {
    display: none;
}

.option-img {
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 4px;
    height: 35px;
    width: 35px;
}

.option-img.no-image {
    background-color: black;
    padding: 5px;
    height: 25px;
    width: 25px;
}

.entrada-almacen .container-datos-articulo {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: auto auto auto 0;
}

.entrada-almacen .container-datos-articulo .row {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.row:nth-child(3) {
    grid-column: span 2;
    /* Make the third and fourth items span 2 columns */
}

.entrada-almacen .container-agregar-retirar {
    display: flex;
}

.entrada-almacen .container-agregar-retirar button {
   margin: 5px;
}

.entrada-almacen .container-agregar-retirar button.mat-mdc-mini-fab {
    --mdc-fab-container-color: #BA9400;
}

.entrada-almacen mat-form-field{
    height: 70px;
}

.entrada-almacen .autocomplete-articulo-container{
    display: flex;
}
.entrada-almacen .autocomplete-articulo-container mat-form-field{
    flex: 1;
}
.mdc-list-item__primary-text{
    font-weight: 500;
}





.entrada-almacen {
    padding: 0px 8px 16px 8px;
}

.entrada-almacen .container .form-row.two-col,
.entrada-almacen .container .form-row.four-col {
    grid-template-columns: repeat(1, 1fr) !important;
}

.entrada-almacen .container .two-col-photo {
    grid-template-columns: 120px 2fr !important;
}

.entrada-almacen .container .container-photo {
    margin: auto;
}

.entrada-almacen .container .container-datos-articulo {
    margin: auto 0 auto 0;
}

.entrada-almacen .container .form-row.three-col.add-stock {
    grid-template-columns: 3fr 3fr 3fr;
    margin-top: 8px;
}

.entrada-almacen .mat-mdc-card.mdc-card {
    margin-top: 12px;
}

.entrada-almacen .container .form-container {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 14px;
}

.entrada-almacen .main-container {
    padding: 0px;
}

.entrada-almacen .container .form-row {
    gap: 0px;
}

.entrada-almacen .container-photo {
    width: 100px;
    height: 100px;
}

.entrada-almacen .container-photo .photo {
    width: 100px;
    height: 100px;
}

.entrada-almacen .empty-image-container {
    width: 100px;
    height: 100px;
}

.entrada-almacen .container-datos-articulo {
    gap: 4px;
}

.entrada-almacen .container .row-cantidades {
    gap: 18px;
}

.toolbar-bottom {
    margin-top: 0px;
}

.entrada-almacen .invalid-feedback,
.entrada-almacen .invalid-feedback-warning {
    text-align: center;
}

.entrada-almacen .mat-mdc-card-header {
    padding: 8px 16px 0;
}

.entrada-almacen .mat-mdc-card-content:last-child {
    padding-bottom: 8px;
}

.entrada-almacen .form-field.comment {
    grid-column: span 3;
}

.entrada-almacen .stock_indicator {
    margin: 18px auto;
}
.entrada-almacen .form-field.comment{
    margin-top: 12px;
}


.cdk-overlay-pane {
    width: 95vw;
    max-width: 95vw !important;
}


@media only screen and (max-width: 1500px) {
    .entrada-almacen {
        margin: 0px 70px;
    }
}

@media only screen and (max-width: 1250px) {
    .entrada-almacen .container .form-row.three-col.add-stock {
        grid-template-columns: 3fr 2fr 3fr;
    }

    .entrada-almacen {
        margin: 0px 60px;
    }
}

@media only screen and (max-width: 1084px) {
    .entrada-almacen {
        margin: 0px 50px;
    }
    .entrada-almacen .container .form-row.four-col {
        grid-template-columns: repeat(3, 1fr);
    }
    .entrada-almacen .container .form-row.three-col.add-stock {
        grid-template-columns: 3fr 1fr 3fr;
    }
}

@media only screen and (max-width: 835px) {
    .entrada-almacen {
        margin: 0px 0px;
    }
    .entrada-almacen .container .form-row.three-col.add-stock {
        grid-template-columns: 3fr 0fr 3fr;
    }
    
}

@media only screen and (max-width: 587px) {
    .entrada-almacen .toolbar .title {
        font-size: 22px;
    }

    .entrada-almacen .mat-mdc-card-title {
        line-height: 20px;
        font-size: 16px;
    }

    .entrada-almacen .container .form-container .title {
        font-size: 20px;
    }
}