<div class="entrada-almacen">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-brands fa-dropbox"></i>
            <span class="title">Disponibilidad de artículo</span>
        </div>
        <div class="toolbar-breadcrumb">
            <span class="link-breadcrumb" (click)="navigate('inventario-almacen')"> Almacenes </span> /
            <span class="breadcrumb-item"> Disponibilidad de artículo</span>
        </div>
    </div>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{almacen?.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{almacen?.description}}</p>
                </mat-card-content>
            </mat-card>

            <div class="form-container">

                <div class="form-container-toolbar">
                    <span class="title">Artículo</span>
                </div>

                <div class="main-container">

                    <div class="form-row one-col">
                        <div>
                            
                        </div>
                        <div class="autocomplete-articulo-container">
                            <mat-form-field>
                                <input type="text"
                                      #selectedArticleInput
                                       matInput
                                       required
                                       [matAutocomplete]="autoGroup"
                                       formControlName="selectedArticle">
                                       <button type="button" matSuffix mat-icon-button aria-label="Clear" *ngIf="route.snapshot.paramMap.get('articuloId') == undefined && this.f['selectedArticle'].value != undefined" (click)="clearAutocompleteInput()">
                                          <mat-icon>close</mat-icon>
                                      </button>
                                <mat-autocomplete autoActiveFirstOption #autoGroup="matAutocomplete">
                                  <ng-container *ngFor="let group of articuloGroupOptions | async; trackBy: trackGroupFn">
                                      <mat-optgroup [label]="group.categoria!.name ?? ''">
                                          <ng-container *ngFor="let articulo of group.articulos; trackBy: trackArticuloFn">
                                              <mat-option [value]="articulo.part_number">
                                                  <img class="option-img" [ngClass]="{ 'no-image': articulo.photo == '' }" [src]="getUrlPhoto(articulo)">
                                                  <span>{{articulo.part_number}}</span>
                                              </mat-option>
                                          </ng-container>
                                    </mat-optgroup>
                                  </ng-container>
                                </mat-autocomplete>
                              </mat-form-field>
                              <button type="button" mat-icon-button matTooltip="escanear codigo de barras"  (click)="openDialogEscanner()" *ngIf="route.snapshot.paramMap.get('articuloId') == undefined">
                                  <mat-icon>photo_camera</mat-icon>
                              </button>
                        </div>
                    </div>
                      
                    <div class="form-row two-col-photo">
                        <div class="column-photo">
                            <div class="container-photo">
                                <div *ngIf="!imageUrl" class="empty-image-container">
                                    <img src="../../assets/images/empty-image.png" class="empty-image">
                                </div>
                                <img class="photo" *ngIf="imageUrl" [src]="imageUrl">
                            </div>
                        </div>
                        <div class="container-datos-articulo">
                            <div class="row">
                                <mat-label class="text-1">Categoria</mat-label>
                                <mat-label class="text-1-regular">{{selectedArticle?.category?.name}}</mat-label>
                            </div>
                            <div class="row">
                                <mat-label class="text-1">Costo unitario</mat-label>
                                <mat-label class="text-1-regular">{{ formatearComoMoneda(selectedArticle?.cost) }} </mat-label>
                            </div>
                            <div class="row">
                                <mat-label class="text-1">Descripción</mat-label>
                                <mat-label class="text-1-regular">{{selectedArticle?.description}}</mat-label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row three-col row-cantidades" style="margin-top: 24px;">
                        <div class="form-field">
                            <mat-label class="text-1">Mínimos*</mat-label>
                            <mat-form-field>
                                <input matInput type="number" formControlName="minimum_stock"
                                    [ngClass]="{ 'is-invalid': submitted && f['minimum_stock'].errors }" required
                                    (change)="onMinimumStockChange()">
                            </mat-form-field>
                            <div *ngIf="submitted && f['minimum_stock'].errors" class="invalid-feedback">
                                <div *ngIf="f['minimum_stock'].hasError('lessThanZero')">Este campo debe ser mayor de 0
                                </div>
                                <div *ngIf="f['minimum_stock'].hasError('minGreaterThanMax')">Este campo no puede ser
                                    mayor que la canitad maxima</div>
                                <div *ngIf="f['minimum_stock'].hasError('undefined')">Este campo es requerido</div>
                            </div>
                        </div>

                        <div class="form-field">
                            <mat-label class="text-1">Máximos*</mat-label>
                            <mat-form-field>
                                <input matInput type="number" formControlName="maximum_stock"
                                    [ngClass]="{ 'is-invalid': submitted && f['maximum_stock'].errors }" required
                                    (change)="onMaximumStockChange()">
                            </mat-form-field>
                            <div *ngIf="submitted && f['maximum_stock'].errors" class="invalid-feedback">
                                <div *ngIf="f['maximum_stock'].hasError('lessThanZero')">Este campo debe ser mayor de 0
                                </div>
                                <div *ngIf="f['maximum_stock'].hasError('maxLessThanMin')">Este campo no puede ser menor
                                    que la canitad minima</div>
                                <div *ngIf="f['maximum_stock'].hasError('undefined')">Este campo es requerido</div>
                            </div>
                        </div>

                        <div class="form-field" style="justify-content: center;">
                            <mat-slide-toggle formControlName="notify_stock" color="primary">Generar
                                alerta</mat-slide-toggle>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-container">

                <div class="form-container-toolbar">
                    <span class="title">Disponibilidad</span>
                </div>

                <div class="main-container">

                    <div class="form-row add-stock" style="grid-template-columns: 1fr 1fr 200px 200px;">

                        <div class="form-field">
                            <mat-label class="text-1">Agregar o retirar</mat-label>
                            <div class="container-agregar-retirar">
                                <button type="button" color="primary" mat-mini-fab (click)="restarQty()">
                                    <mat-icon>remove</mat-icon>
                                </button>
                                <mat-form-field>
                                    <input type="number" matInput formControlName="qty" [ngClass]="{ 'is-invalid': submitted && f['qty'].errors }" required>
                                </mat-form-field>
                                <button type="button" color="primary" mat-mini-fab (click)="agregarQty()">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <div style="text-align: justify;margin-left: 45px;" *ngIf="getStock() < f['minimum_stock'].value || getStock() > f['maximum_stock'].value" class="invalid-feedback-warning">
                                <div *ngIf="getStock() < f['minimum_stock'].value">La cantidad minima es de {{f['minimum_stock'].value}}</div>
                                <div *ngIf="getStock() > f['maximum_stock'].value">La cantidad maxima es de {{f['maximum_stock'].value}}</div>
                            </div>
                            <div style="text-align: justify;margin-left: 45px;" *ngIf="submitted && f['qty'].errors" class="invalid-feedback">
                                <div *ngIf="f['qty'].hasError('isStockNeg')">No se permite retirar cantidad mayor a la actual</div>
                            </div>
                        </div>

                        <div class="form-field comment">
                            <mat-label class="text-1">Comentario</mat-label>
                            <mat-form-field>
                                <input matInput type="text" formControlName="comment"
                                    [ngClass]="{ 'is-invalid': submitted && f['comment'].errors }">
                            </mat-form-field>
                        </div>

                        <div style="width: 100px;" [matBadge]="(f['qty'].value > 0 ? '+' : '') + f['qty'].value" matBadgeOverlap="false"
                            class="stock_indicator" [ngClass]="{
                            'stock_indicator-neg': f['qty'].value < 0,
                            'stock_indicator-hide': f['qty'].value === 0 || f['qty'].value === null
                          }">
                            <span class="title-stock">Stock</span>
                            <span class="stock">{{stock}}</span>
                        </div>

                        <div class="stock_indicator" style="width: 90px;">
                            <span class="title-stock">Back Order</span>
                            <span class="stock">{{f['total_backorder'].value}}</span>
                        </div>

                    </div>

                </div>
            </div>


            <div class="form-container">

                <div class="form-container-toolbar">
                    <span class="title">Incoming</span>
                </div>

                <div class="main-container">
                    <div class="form-row add-stock" style="grid-template-columns: 1fr 1fr 200px 200px;">
                        <div class="form-field">
                            <mat-label class="text-1">Agregar o retirar</mat-label>
                            <div class="container-agregar-retirar">
                                <button type="button" color="primary" mat-mini-fab (click)="restarQtyIncoming()">
                                    <mat-icon>remove</mat-icon>
                                </button>
                                <mat-form-field>
                                    <input type="number" matInput formControlName="qty_incoming" [ngClass]="{ 'is-invalid': submitted && f['qty_incoming'].errors }" required>
                                </mat-form-field>
                                <button type="button" color="primary" mat-mini-fab (click)="agregarQtyIncoming()">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <div *ngIf="getStockIncoming() < 0" class="invalid-feedback-warning">
                                <div>La cantidad minima es de 0</div>
                            </div>
                            <div style="text-align: justify;margin-left: 45px;" *ngIf="submitted && f['qty_incoming'].errors" class="invalid-feedback">
                                <div *ngIf="f['qty_incoming'].hasError('isStockNeg')">No se permite retirar cantidad mayor a la actual</div>
                            </div>
                        </div>

                        <div class="form-field comment_incoming">
                            <mat-label class="text-1">Comentario</mat-label>
                            <mat-form-field>
                                <input matInput type="text" formControlName="comment_incoming"
                                    [ngClass]="{ 'is-invalid': submitted && f['comment_incoming'].errors }">
                            </mat-form-field>
                        </div>

                        <div [matBadge]="(f['qty_incoming'].value > 0 ? '+' : '') + f['qty_incoming'].value" matBadgeOverlap="false"
                            class="stock_indicator" [ngClass]="{
                            'stock_indicator-neg': f['qty_incoming'].value < 0,
                            'stock_indicator-hide': f['qty_incoming'].value === 0 || f['qty_incoming'].value === null
                          }">
                            <span class="title-stock">Incoming</span>
                            <span class="stock">{{stock_incoming}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="toolbar-bottom">
                <button mat-flat-button class="btn secundary" type="button"
                    (click)="navigate('inventario-almacen')">Cancelar</button>
                <button mat-flat-button class="btn" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>