<div class="login">
    <div class="background-image"></div>
    <mat-card class="login-container">
        <mat-card-header>
            <img src="../../assets/images/logotipo-negro.svg" alt="Image" class="card-image">
        </mat-card-header>

        <mat-card-content>
            <mat-label class="poppinsn-24-titulo">¡Bienvenido!</mat-label>

            
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                
                <div class="form-field">
                    <mat-label class="text-1 ">Correo electrónico</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" required>
                    </mat-form-field>
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">El correo es requerido</div>
                        <div *ngIf="f['email'].errors['email']">Formato de correo invalido</div>
                    </div>
                </div>

                <div class="form-field">
                    <mat-label class="text-1 ">Contraseña</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                        <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Contraseña es requerida</div>
                        <div *ngIf="f['password'].hasError('minlength')">La Contraseña debe ser mayor a 4 caracters</div>
                    </div>
                    <div *ngIf="submitted" class="invalid-feedback">
                        <div *ngIf="loginFail">El usuario o contraseña son incorrectos</div>
                    </div>
                </div>

                <div class="form-check">
                    <mat-checkbox name="remember" formControlName="remember">Recordar credenciales</mat-checkbox>
                </div>

                <button [disabled]="loading" class="btn-login" mat-raised-button color="primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Iniciar sesión
                </button>

                <!--<mat-label class="label-forgot-password">¿Olvidaste tu contraseña?</mat-label>-->
            </form>
        </mat-card-content>
    </mat-card>
</div>