<div class="catalogo-sucursales-list">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-regular fa-building"></i>
            <span class="title">Catálogo sucursales</span>
        </div>
        <div>
            Catálogos/<span class="breadcrumb-item">Catálogo sucursales</span>
        </div>
    </div>
    <div class="container">
        <div *ngIf="!hasRecords" class="container-empty">
            <img src="../../assets/images/empty-list.png" alt="empty logo" class="img">
            <span class="text">Aún no tienes sucursales en el catálogo, para poder ver información favor de agregar una
                sucursal.</span>
            <button mat-flat-button class="btn" (click)="onNew()"><mat-icon>add</mat-icon>Agregar sucursal</button>
        </div>
        <div *ngIf="hasRecords" class="container-list">

            <div class="toolbar">
                <button mat-flat-button class="btn" (click)="onNew()"><mat-icon>add</mat-icon>Agregar sucursal</button>
            </div>

            <table class="table" mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Sucursal</th>
                    <td mat-cell *matCellDef="let element"><span (click)="onView(element.id)"
                            class="title-grid">{{element.name}}</span></td>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef>Teléfono</th>
                    <td mat-cell *matCellDef="let element">{{element.phone}}</td>
                </ng-container>

                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef>Ubicación</th>
                    <td mat-cell *matCellDef="let element"><span *ngIf="element.neighborhood != ''">{{element.neighborhood}},</span> {{element.street}} <span *ngIf="element.internal_number != ''">#{{element.internal_number}}</span></td>
                </ng-container>

                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef>Registro</th>
                    <td mat-cell *matCellDef="let element">{{formatDate(element.created_at)}}</td>
                </ng-container>

                <ng-container matColumnDef="modified">
                    <th mat-header-cell *matHeaderCellDef>Edición</th>
                    <td mat-cell *matCellDef="let element">{{formatDate(element.updated_at)}}</td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef>Usuario</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="user-wrapper">
                            <div class="circle-initials" mat-mini-fab color="primary">
                                {{getUserName(element.user.name, element.user.lastname)}}</div>
                            <span class="text">{{element.user.name}} {{element.user.lastname}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Estatus</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle [(ngModel)]="element.status" disabled=true></mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="" (click)="onEdit(element.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>