<div class="catalogo-clientes-list">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-solid fa-user-group"></i>
            <span class="title">Catálogo clientes</span>
        </div>
        <div>
            <span class="link-breadcrumb" (click)="navigate('venta/catalogos')"> Ventas / Catálogos </span> / <span class="breadcrumb-item">Catálogo clientes</span>
        </div>
    </div>
    <div class="container">
        <div *ngIf="!hasRecords" class="container-empty">
            <img src="../../assets/images/empty-list.png" alt="empty logo" class="img">
            <span class="text">Aún no tienes clientes en el catálogo, para poder ver información favor de agregar un cliente.</span>
            <button mat-flat-button class="btn" (click)="onNew()"><mat-icon>add</mat-icon>Agregar cliente</button>
        </div>
        <div *ngIf="hasRecords" class="container-list">

            <div class="toolbar">
                <button mat-flat-button class="btn" (click)="onNew()"><mat-icon>add</mat-icon>Agregar cliente</button>
            </div>

            <table class="table" mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="alias">
                    <th mat-header-cell *matHeaderCellDef>Alias</th>
                    <td mat-cell *matCellDef="let element"><span (click)="onView(element.id)"
                            class="title-grid">{{element.cliente}}</span></td>
                </ng-container>

                <ng-container matColumnDef="cliente">
                    <th mat-header-cell *matHeaderCellDef>Nombre físcal</th>
                    <td mat-cell *matCellDef="let element"><span (click)="onView(element.id)"
                            class="title-grid">{{element.nombre_fiscal}}</span></td>
                </ng-container>

                <ng-container matColumnDef="rfc">
                    <th mat-header-cell *matHeaderCellDef>RFC</th>
                    <td mat-cell *matCellDef="let element">{{element.rfc}}</td>
                </ng-container>

                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.correo}}</td>
                </ng-container>

                <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef>Teléfono</th>
                    <td mat-cell *matCellDef="let element">{{element.telefono}}</td>
                </ng-container>

                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef>Registro</th>
                    <td mat-cell *matCellDef="let element">{{formatDate(element.created_at)}}</td>
                </ng-container>

                <ng-container matColumnDef="modified">
                    <th mat-header-cell *matHeaderCellDef>Edición</th>
                    <td mat-cell *matCellDef="let element">{{formatDate(element.updated_at)}}</td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef>Usuario</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="user-wrapper">
                            <div class="circle-initials" mat-mini-fab color="primary" *ngIf="element.user.photo == null">
                                {{getUserName(element.user.name, element.user.last_name)}}
                            </div>
                            <div *ngIf="element.user.photo != null" class="container-photo-user">
                                <img class="photo" [src]="getUrlPhoto(element.user.photo)">
                            </div>
                            <span class="text">{{element.user.name}} {{element.user.last_name}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Activar</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle [(ngModel)]="element.status" disabled=true></mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="" (click)="onEdit(element.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>