<div class="catalogo-articulos">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-solid fa-box-archive"></i>
            <span class="title">Catálogo de artículos</span>
        </div>
        <div class="toolbar-breadcrumb">
            <span class="link-breadcrumb" (click)="navigate('almacenes/catalogos')">Almacenes / Catálogos</span>
            <span> / </span>
            <span class="link-breadcrumb" (click)="navigate('almacenes/catalogos/articulos')">Catálogo artículos</span>
            <span> / </span>
            <span class="breadcrumb-item">{{title}}</span>
            <button *ngIf="isReadOnly" mat-button class="btn" (click)="makeEditMode()"><mat-icon>edit</mat-icon>Editar
                información
            </button>
        </div>
    </div>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-container">
                <div class="form-container-toolbar">
                    <span class="title">Datos generales</span>
                    <span *ngIf="action != 'new'" class="id"><b>ID</b> {{id}}</span>
                </div>

                <div class="main-container">
                    <div class="column column-photo">
                        <div class="container-photo">
                            <div *ngIf="!imageUrl" class="empty-image-container">
                                <img src="../../assets/images/empty-image.png" class="empty-image">
                            </div>
                            <img class="photo" *ngIf="imageUrl" [src]="imageUrl">
                            <button *ngIf="!isReadOnly" class="photo-button" mat-mini-fab (click)="fileInput.click()" type="button">
                                <mat-icon>photo_camera</mat-icon>
                            </button>
                            <input #fileInput style="display: none" formControlName="photo" type="file" (change)="onFileSelected($event)">
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-row three-col" style="grid-template-columns: 1fr 2fr 1fr;">
                            <div class="form-field part_number">
                                <mat-label class="text-1" *ngIf="isReadOnly">Número de parte</mat-label>
                                <mat-label class="text-1" *ngIf="!isReadOnly">Número de parte*</mat-label>
                                <mat-label class="text-1-regular"
                                    *ngIf="isReadOnly">{{this.f['part_number'].value}}</mat-label>
                                <mat-form-field *ngIf="!isReadOnly">
                                    <input matInput placeholder="Escribir número de parte del articulo"
                                        formControlName="part_number"
                                        [ngClass]="{ 'is-invalid': submitted && f['part_number'].errors }" required>
                                </mat-form-field>
                                <div *ngIf="submitted && (f['part_number'].errors || isPartNumberDuplicate)" class="invalid-feedback">
                                    <div *ngIf="f['part_number'].errors && f['part_number'].errors['required']">Este campo requerido</div>
                                    <div *ngIf="isPartNumberDuplicate">Este número de parte ya existe</div>
                                </div>
                            </div>

                            <div class="form-field description">
                                <mat-label class="text-1"  *ngIf="isReadOnly">Descripción</mat-label>
                                <mat-label class="text-1"  *ngIf="!isReadOnly">Descripción*</mat-label>
                                <mat-label class="text-1-regular"
                                    *ngIf="isReadOnly">{{this.f['description'].value}}</mat-label>
                                <mat-form-field *ngIf="!isReadOnly">
                                    <input matInput placeholder="Escribir la descripción de la articulo"
                                        formControlName="description"
                                        [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" required>
                                </mat-form-field>
                                <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                                    <div *ngIf="f['description'].errors['required']">Este campo requerido</div>
                                </div>
                            </div>

                            <div class="form-field">
                                <mat-label class="text-1" *ngIf="isReadOnly">Categoría</mat-label>
                                <mat-label class="text-1" *ngIf="!isReadOnly">Categoría*</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['selectedCategory'].value?.name}}</mat-label>
                                <mat-form-field *ngIf="!isReadOnly" required>
                                    <mat-label>Seleccionar categoria</mat-label>
                                    <mat-select [(value)]="selectedCategory" (selectionChange)="onCategoryChange($event)" formControlName="selectedCategory" >
                                        <mat-option *ngFor="let category of categories" [value]="category">
                                            {{category.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="submitted && f['selectedCategory'].errors" class="invalid-feedback">
                                    <div *ngIf="f['selectedCategory'].errors['required']">Este campo requerido</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row four-col">
                            <div class="form-field">
                                <mat-label class="text-1" *ngIf="isReadOnly">Moneda</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['moneda'].value?.moneda  ==  'MXN' ? 'Pesos' : 'Dolares'}}</mat-label>
                                <mat-label class="text-1" *ngIf="!isReadOnly">Moneda*</mat-label>
                                <mat-form-field *ngIf="!isReadOnly">
                                    <mat-select formControlName="moneda">
                                      <mat-option *ngFor="let moneda of monedas" [value]="moneda">
                                        {{ moneda.moneda === 'MXN' ? 'Pesos' : 'Dólares' }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                <div *ngIf="submitted && f['moneda'].errors" class="invalid-feedback">
                                    <div *ngIf="f['moneda'].errors['required']">Este campo requerido</div>
                                </div>
                            </div>

                            <div class="form-field costo_proveedor">
                                <mat-label class="text-1"  *ngIf="isReadOnly">Costo del Proveedor </mat-label>
                                <mat-label class="text-1"  *ngIf="!isReadOnly">Costo del Proveedor *</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ formatearComoMoneda(this.f['costo_proveedor'].value) }}</mat-label>
                                <mat-form-field floatLabel="always" *ngIf="!isReadOnly">
                                    <input matInput type="text" formControlName="costo_proveedor" min="0" step="0.01" (keypress)="validarDecimal($event)" (blur)="validarFinal('costo_proveedor')" placeholder="0.00">
                                    <span matTextPrefix>$&nbsp;</span>
                                </mat-form-field>
                                <div *ngIf="submitted && f['costo_proveedor'].errors" class="invalid-feedback">
                                    <div *ngIf="f['costo_proveedor'].errors['required']">Este campo requerido</div>
                                    <div *ngIf="f['costo_proveedor'].errors['pattern']">Formato inválido (hasta 2 decimales)</div>
                                </div>
                            </div>

                            <div class="form-field costo_importado">
                                <mat-label class="text-1" *ngIf="isReadOnly">Costo en México</mat-label>
                                <mat-label class="text-1" *ngIf="!isReadOnly">Costo en México*</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ formatearComoMoneda(this.f['costo_importado'].value) }}</mat-label>
                                <mat-form-field floatLabel="always" *ngIf="!isReadOnly">
                                    <input matInput type="text" formControlName="costo_importado" min="0" step="0.01" (keypress)="validarDecimal($event)" (blur)="validarFinal('costo_proveedor')" placeholder="0.00" (input)="costoImportadoManual = true">
                                    <span matTextPrefix>$&nbsp;</span>
                                </mat-form-field>
                                <div *ngIf="submitted && f['costo_importado'].errors" class="invalid-feedback">
                                    <div *ngIf="f['costo_importado'].errors['required']">Este campo requerido</div>
                                    <div *ngIf="f['costo_importado'].errors['pattern']">Formato inválido (hasta 2 decimales)</div>
                                </div>
                            </div>

                            <div class="form-field precio_venta">
                                <mat-label class="text-1" *ngIf="isReadOnly">Precio venta</mat-label>
                                <mat-label class="text-1" *ngIf="!isReadOnly">Precio venta*</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ formatearComoMoneda(this.f['precio_venta'].value) }}</mat-label>
                                <mat-form-field floatLabel="always" *ngIf="!isReadOnly">
                                    <input matInput type="text" formControlName="precio_venta" min="0" step="0.01" (keypress)="validarDecimal($event)" (blur)="validarFinal('costo_proveedor')" placeholder="0.00" (input)="precioVentaManual = true">
                                    <span matTextPrefix>$&nbsp;</span>
                                </mat-form-field>
                                <div *ngIf="submitted && f['precio_venta'].errors" class="invalid-feedback">
                                    <div *ngIf="f['precio_venta'].errors['required']">Este campo requerido</div>
                                    <div *ngIf="f['precio_venta'].errors['pattern']">Formato inválido (hasta 2 decimales)</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row one-col">
                            <div class="form-field comment">
                                <mat-label class="text-1">Comentarios</mat-label>
                                <mat-label class="text-1-regular" *ngIf="isReadOnly">{{this.f['comment'].value}}</mat-label>
                                <mat-form-field *ngIf="!isReadOnly">
                                    <input matInput placeholder="Escribe el comentario del artículo"
                                        formControlName="comment">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-row one-col" style="gap: 8px; margin-top: 12px;">
                           <mat-label class="text-1">Etiquetas</mat-label>
                           <mat-label class="text-1-regular" *ngIf="isReadOnly">
                                <span *ngFor="let keyword of templateKeywords; let last = last">
                                    {{ keyword }}<span *ngIf="!last">, </span>
                                </span>
                                <span *ngIf="templateKeywords.length == 0">No hay etiquetas</span>
                            </mat-label>
                           <mat-form-field *ngIf="!isReadOnly">
                                <mat-chip-grid #templateChipGrid aria-label="Ingresa palabras clave" [(ngModel)]="templateKeywords" name="keywords">
                                <mat-chip-row  *ngFor="let keyword of templateKeywords; trackBy: trackByKeyword" (removed)="removeTemplateKeyword(keyword)">
                                    {{ keyword }}
                                    <button matChipRemove [attr.aria-label]="'Eliminar palabra: ' + keyword">
                                    <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                                </mat-chip-grid>
                                <input placeholder="Agrega etiquetas al articulo..." [matChipInputFor]="templateChipGrid" [matChipInputAddOnBlur]="true" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTemplateKeyword($event)" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 24px;"></div>

            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="display: contents;">
                            Datos Fiscales CFDI
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="form-row" style="grid-template-columns: 1fr 2fr 2fr;">
                         <!-- <div class="form-field numero_identificacion_fiscal">
                            <mat-label class="text-1">No. Identificación</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ f['numero_identificacion_fiscal'].value }}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                              <input matInput formControlName="numero_identificacion_fiscal"
                                     placeholder="Ingresar número de identificación">
                            </mat-form-field>
                          </div> -->
                        
                          <div class="form-field unidad_medida">
                            <mat-label class="text-1">Unidad de medida</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">{{ f['unidad_medida'].value }}</mat-label>
                            <mat-form-field *ngIf="!isReadOnly">
                              <mat-label>Seleccionar</mat-label>
                              <mat-select formControlName="unidad_medida">
                                <mat-option value="producto">Producto</mat-option>
                                <mat-option value="servicio">Servicio</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        
                          <div class="form-field producto_servicio_model">
                            <mat-label class="text-1">Producto o servicio</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">
                                {{ f['producto_servicio_model'].value?.key }} - {{ f['producto_servicio_model'].value?.name }}
                            </mat-label>
                            <mat-form-field class="example-full-width" *ngIf="!isReadOnly">
                              <mat-label>Buscar producto o servicio</mat-label>
                              <input type="text" matInput formControlName="producto_servicio_model"
                                     [matAutocomplete]="autoProductoServicio"
                                     placeholder="Buscar producto o servicio">
                              <mat-autocomplete autoActiveFirstOption #autoProductoServicio="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let option of filteredProductoServicio | async" [value]="option">
                                  {{ option.key }} - {{ option.name }}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>
                        
                          <div class="form-field unidad_medida_model">
                            <mat-label class="text-1">Unidad de medida</mat-label>
                            <mat-label class="text-1-regular" *ngIf="isReadOnly">
                                {{ f['unidad_medida_model'].value?.key }} - {{ f['unidad_medida_model'].value?.name }}
                            </mat-label>
                            <mat-form-field class="example-full-width" *ngIf="!isReadOnly">
                              <mat-label>Buscar unidad de medida</mat-label>
                              <input type="text" matInput formControlName="unidad_medida_model"
                                     [matAutocomplete]="autoUnidadMedida"
                                     placeholder="Buscar unidad de medida">
                              <mat-autocomplete autoActiveFirstOption #autoUnidadMedida="matAutocomplete" [displayWith]="displayFnUnidadMedida">
                                <mat-option *ngFor="let option of filteredUnidadMedida | async" [value]="option">
                                  {{ option.key }} - {{ option.name }}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>

                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div style="height: 24px;"></div>

            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Configuración
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="form-row four-col">
                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="show_admin_users" color="primary">Mostrar al gestionar
                                usuarios
                            </mat-slide-toggle>
                        </div>

                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="status" color="primary">Activo</mat-slide-toggle>
                        </div>

                        <div class="form-field num-ext">
                            <mat-slide-toggle formControlName="es_inventariado" color="primary">Es inventariado</mat-slide-toggle>
                        </div>

                        <div class="form-field empty"></div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="toolbar-bottom">
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('almacenes/catalogos/articulos')"
                    *ngIf="isReadOnly">Regresar</button>
                <button mat-flat-button class="btn secundary" type="button" (click)="navigate('almacenes/catalogos/articulos')"
                    *ngIf="!isReadOnly">Cancelar</button>
                <button mat-flat-button class="btn" type="submit" *ngIf="!isReadOnly">{{title}}</button>
            </div>
        </form>
    </div>
</div>