<div class="catalogo-articulo-list">
    <div class="toolbar">
        <div class="toolbar-title">
            <i class="icon fa-solid fa-box-archive"></i>
            <span class="title">Catálogo de artículos</span>
        </div>
        <div>
            <span class="link-breadcrumb" (click)="navigate('almacenes/catalogos')"> Almacenes / Catálogos </span> / <span class="breadcrumb-item">Catálogo artículos</span>
        </div>
    </div>
    <div class="container">
         <div *ngIf="!hasRecords && searchText === ''" class="container-empty">
            <img src="../../assets/images/empty-list.png" alt="empty logo" class="img">
            <span class="text">Aún no tienes articulos en el catálogo, para poder ver información favor de agregar una articulo.</span>
            <button mat-flat-button class="btn" (click)="onNew()"><mat-icon>add</mat-icon>Agregar articulo</button>
        </div>

        <div *ngIf="!hasRecords && searchText !== ''" class="container-empty">
            <img src="../../assets/images/empty-list.png" alt="empty logo" class="img" style="margin-top: 50px;">
            <span class="text">No se encontraron resultados para "{{searchText}}".</span>
            <button mat-flat-button class="btn" style="width: 200px;" (click)="onClearSearchText()">
                <mat-icon>close</mat-icon> Limpiar búsqueda
            </button>
        </div>

        <div *ngIf="hasRecords" class="container-list">

            <div class="toolbar">
                <mat-form-field appearance="outline" class="search-field" style="margin-bottom: 0px;">
                    <mat-label>Buscar</mat-label>
                    <input matInput   [formControl]="searchControl" (keydown.enter)="onSearchNow()" placeholder="Buscar #Parte, descripción, categoría, usuario...">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <div class="spacer"></div>
                <button mat-flat-button class="btn" (click)="onNew()"><mat-icon>add</mat-icon>Agregar articulo</button>
            </div>

            <table class="table" mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">

                <ng-container matColumnDef="part_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>#Parte</th>
                    <td mat-cell *matCellDef="let element">
                        <span (click)="onView(element.id)" class="title-grid un-renglon">{{element.part_number}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="description-wrapper">
                            <div *ngIf="!element.photo" class="empty-image-container">
                                <img src="../../assets/images/empty-image.png" class="empty-image">
                            </div>
                            <img *ngIf="element.photo" class="photo" [src]="getPathPhoto(element.photo)">
                            <span class="un-renglon">{{element.description}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cat_articulo_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoría</th>
                    <td mat-cell *matCellDef="let element">
                        <span (click)="onViewCategory(element.cat_articulo_id)" class="title-grid un-renglon">{{element.category.name}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Registro</th>
                    <td mat-cell *matCellDef="let element">{{formatDate(element.created_at)}}</td>
                </ng-container>

                <ng-container matColumnDef="modified">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Edición</th>
                    <td mat-cell *matCellDef="let element">{{formatDate(element.updated_at)}}</td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="user-wrapper">
                            <div class="circle-initials" mat-mini-fab color="primary" *ngIf="element.user.photo == null">
                                {{getUserName(element.user.name, element.user.last_name)}}
                            </div>
                            <div *ngIf="element.user.photo != null" class="container-photo-user">
                                <img class="photo" [src]="getUrlPhoto(element.user.photo)">
                            </div>
                            <span class="text">{{element.user.name}} {{element.user.last_name}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Estatus</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle [(ngModel)]="element.status" disabled=true></mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="" (click)="onEdit(element.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[20, 50, 100]" [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
                (page)="onPageChange($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>