/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-color: #b79200 !important;
    background-color: #b79200 !important;
}

.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected~.mdc-checkbox__ripple {
    background: #b79200;
}

.text-1 {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
}

.text-1-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
}

.btn {
    background-color: #BA9400 !important;
    color: #fff !important;
}

.btn.secundary {
    background-color: #fff !important;
    color: #BA9400 !important;
    border: 1px solid #BA9400 !important;
}

.mat-expansion-indicator::after {
    color: #b79200;
}

.mat-mdc-slide-toggle.mat-primary {
    --mdc-switch-selected-focus-state-layer-color: #b79200;
    --mdc-switch-selected-handle-color: #b79200;
    --mdc-switch-selected-hover-state-layer-color: #b79200;
    --mdc-switch-selected-pressed-state-layer-color: #b79200;
    --mdc-switch-selected-focus-handle-color: #9a7b02;
    --mdc-switch-selected-hover-handle-color: #9a7b02;
    --mdc-switch-selected-pressed-handle-color: #9a7b02;
    --mdc-switch-selected-focus-track-color: #eadfb2;
    --mdc-switch-selected-hover-track-color: #eadfb2;
    --mdc-switch-selected-pressed-track-color: #eadfb2;
    --mdc-switch-selected-track-color: #eadfb2;
}

.toolbar .link-breadcrumb {
    cursor: pointer;
}

.toolbar .link-breadcrumb:hover {
    text-decoration: underline;
}

.invalid-feedback{
    color: red;
}
.invalid-feedback-warning{
    color: goldenrod
}

.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #F1FFF4 !important;
    --mdc-snackbar-supporting-text-color: #212121 !important;
}