<div class="sistema-configuracion">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div class="form-container-toolbar">
        <span class="title">Configuraciones del sistema</span>
      </div>

      <div class="form-row one-col" *ngFor="let config of configuraciones">
        <div class="form-field">
          <div class="label-container">
            <mat-label class="text-1">{{ config.name.replace('_', ' ') }}</mat-label>
            <button *ngIf="config.name === 'tipo_cambio'" 
                    mat-stroked-button 
                    class="dof-button"
                    type="button"
                    (click)="consultarDOF()"
                    matTooltip="Consultar tipo de cambio oficial en el DOF">
              <mat-icon>launch</mat-icon>
              Consultar DOF
            </button>
          </div>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput [formControlName]="config.name" placeholder="Valor de {{ config.name }}">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="toolbar-bottom">
      <button mat-flat-button class="btn" type="submit" [disabled]="form.invalid || loading">Guardar</button>
    </div>
  </form>
</div>