<div class="change-password">
    <div class="background-image"></div>
    <mat-card class="change-password-container">
        <mat-card-header>
            <img src="../../assets/images/logotipo-negro.svg" alt="Image" class="card-image">
        </mat-card-header>

        <mat-card-content>
            <mat-label class="poppinsn-24-titulo">Nueva contraseña</mat-label>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-field">
                    <mat-label class="text-1">Ingresa tu contraseña</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                        <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Contraseña es requerida</div>
                        <div *ngIf="f['password'].hasError('minlength')">La Contraseña debe ser mayor a 4 caracteres</div>
                    </div>
                </div>
            
                <div class="form-field">
                    <mat-label class="text-1">Confirmación de contraseña</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="confirmPassword" [type]="hidePassword ? 'password' : 'text'" required [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                        <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors['required']">Contraseña es requerida</div>
                        <div *ngIf="f['confirmPassword'].hasError('minlength')">La Contraseña debe ser mayor a 4 caracteres</div>
                        <div *ngIf="f['confirmPassword'].hasError('mismatch')">Las contraseñas no coinciden</div>
                    </div>
                </div>
            
                <button [disabled]="loading" class="btn-change-password" mat-raised-button color="primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Guardar contraseña
                </button>
            </form>
            
        </mat-card-content>
    </mat-card>
</div>